.font-lato {
    font-family: 'Lato', sans-serif;
}
.community {
    .page-header {
        padding-top: 80px;
    }
    .filter-bar,
    .search-bar {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .btn-area {
        p {
            text-align: right;
            .btn-write {
                background-color: #e9193a;
                &:hover,
                &:focus {
                    opacity: .9;
                }
            }
        }
    }
    .pagination {
        margin-top: 15px;
        margin-bottom: 150px;
    }
    .article {
        padding-bottom: 30px;
        border-top: 2px solid #333;
        border-bottom: 1px solid #ccc;
        h4 {
            overflow: hidden;
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 30px;
            padding-right: 150px;
            height: 50px;
            line-height: 49px;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            color: #333;
            text-overflow: ellipsis;
            white-space: nowrap;
            small {
                position: absolute;
                top: 0;
                right: 0;
                width: 150px;
                height: 100%;
                line-height: 49px;
                text-align: center;
                @extend .font-lato;
                font-size: 16px;
                color: #333;
            }
        }
        .article-body {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 16px;
            color: #666;
            line-height: 28px;
        }
        .article-attach {
            a {
                padding-left: 30px;
                background-image: url(/images/community/ico_attach.png);
                background-repeat: no-repeat;
                background-position: 0 50%;
                color: #999;
                font-size: 14px;
            }
        }
    }
    &.view {
        .search-bar {
            overflow: hidden;
            .search-form {
                float: right;
            }
        }
        .btn-area {
            margin-top: 20px;
            margin-bottom: 150px;
            p {
                overflow: hidden;
                text-align: left;
                .btn-edit,
                .btn-delete {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 14px;
                    color: #444;
                }
                .btn-list {
                    float: right;
                }
            }
        }
    }
    &.write {
        .table {
            margin-top: 60px;
            margin-bottom: 80px;
            tbody {
                th, td {
                    padding-left: 30px;
                    padding-right: 30px;
                    text-align: left;
                }
                th {
                    border-right: 1px solid #ccc;
                    label {
                        font-weight: normal;
                    }
                }
                td {
                    .form-control {
                        border-radius: 0;
                        box-shadow: none;
                        &:focus {
                            border-color: #e9193a;
                        }
                    }
                }
                .writer,
                .password,
                .attach {
                    .form-control {
                        width: 340px;
                    }
                }
                .details {
                    td {
                        padding: 30px 0;
                    }
                }
            }
        }
        .btn-area {
            margin-bottom: 140px;
            .btn {
                width: 150px;
                height: 40px;
                line-height: 28px;
                font-size: 16px;
                color: #fff;
                &.btn-submit {
                    background-color: #e9193a;
                    &:hover,
                    &:focus {
                        opacity: .9;
                    }
                }
            }
        }
    }
}

.community.news {
    &.list {
        .table {
            tbody {
                td {
                    &:nth-of-type(3) {
                        padding-left: 35px;
                        text-align: left;
                    }
                    &:nth-of-type(1),
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        @extend .font-lato;
                    }
                }
            }
        }
    }
}

.community.health {
    &.list {
        .search-bar {
            overflow: hidden;
            .search-form {
                float: right;
            }
        }
        .table {
            tbody {
                td {
                    &:nth-of-type(2) {
                        padding-left: 35px;
                        text-align: left;
                    }
                    &:nth-of-type(1),
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        @extend .font-lato;
                    }
                }
            }
        }
    }
}

.community.recruit {
    &.list {
        .search-bar {
            overflow: hidden;
            .search-form {
                float: right;
            }
        }
        .table {
            tbody {
                td {
                    &:nth-of-type(2) {
                        color: #e9193a;
                    }
                    &:nth-of-type(3) {
                        padding-left: 35px;
                        text-align: left;
                    }
                    &:nth-of-type(1),
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        @extend .font-lato;
                    }
                }
            }
        }
    }
}

.community.review {
    &.list {
        .nav {
            margin-top: 60px;
        }
        .table {
            tbody {
                td {
                    &:nth-of-type(3) {
                        padding-left: 35px;
                        text-align: left;
                    }
                    &:nth-of-type(1),
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        @extend .font-lato;
                    }
                }
            }
        }
    }
}

.community.photo {
    &.list {
        .search-bar {
            overflow: hidden;
            .search-form {
                float: right;
            }
        }
        .btn-area {
            margin-top: 20px;
            margin-bottom: 150px;
            p {
                text-align: center;
            }
        }
        .photo-list {
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    margin-right: 17px;
                    margin-bottom: 20px;
                    width: 280px;
                    height: 390px;
                    &:nth-of-type(4n+2) {
                        margin-right: 16px;
                    }
                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        &:focus,
                        &:hover {
                            opacity: .9;
                        }
                        figure {
                            img {
                                width: 280px;
                                height: 300px;
                            }
                            figcaption {
                                padding: 20px;
                                height: 90px;
                                border: 1px solid #ccc;
                                h4 {
                                    overflow: hidden;
                                    margin-top: 0;
                                    margin-bottom: 10px;
                                    color: #666;
                                    font-size: 16px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                                ul {
                                    li {
                                        display: inline-block;
                                        color: #999;
                                        font-size: 16px;
                                        @extend .font-lato;
                                        &:nth-of-type(1):after {
                                            padding-left: 7px;
                                            padding-right: 5px;
                                            content: '|';
                                            font-size: 14px;
                                        }
                                        &:nth-of-type(2) {
                                            padding-left: 20px;
                                            background-image: url(/images/community/ico_eye.png);
                                            background-repeat: no-repeat;
                                            background-position: 0 50%;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
}

.community.confirm-pw {
    .confirm-section {
        background-image: url(/images/community/bg_confirm_pw.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        .confirm-form {
            margin: 150px auto;
            width: 400px;
            h4 {
                margin-bottom: 30px;
                padding-top: 90px;
                font-size: 22px;
                color: #666;
                font-weight: 300;
                letter-spacing: -1px;
                background-image: url(/images/community/ico_lock.png);
                background-repeat: no-repeat;
                background-position: 50% 0;
            }
            .form-group {
                margin-bottom: 40px;
                .form-control {
                    height: 40px;
                    border-radius: 0;
                    box-shadow: none;
                    &:focus {
                        border-color: #e9193a;
                    }
                }
            }
            .btn-area {
                p {
                    text-align: center;
                    .btn {
                        margin-left: 5px;
                        margin-right: 5px;
                        width: 150px;
                        height: 40px;
                        line-height: 28px;
                        font-size: 16px;
                        &.btn-confirm {
                            background-color: #e9193a;
                            &:hover,
                            &:focus {
                                opacity: .9;
                            }
                        }
                    }
                }
            }
        }
    }
}