body {
    min-width: 1200px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
dl {
    margin-bottom: 0;
}
p, address, label {
    margin-bottom: 0;
}
.btn {
    min-width: 85px;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    background-color: #4f4f4f;
    &:focus,
    &:hover {
        background-color: #666;
        color: #fff;
    }
}
.label {
    margin-right: 10px;
    background-color: #4f4f4f;
    font-size: 11px;
    &.label-primary {
        background-color: #e9193a;
    }
}
.container {
    width: 1200px !important;
}

#header {
    position: relative;
    height: 147px;
    border-bottom: 2px solid #e9193a;
    z-index: 1;
    .top {
        height: 96px;
        border-bottom: 1px solid #ececec;
        .container {
            position: relative;
        }
        h1 {
            text-align: center;
            margin-bottom: 0;
        }
        .branch {
            position: absolute;
            top: 30px;
            left: 15px;
            li {
                display: inline-block;
                margin-left: 15px;
                &:first-child {
                    margin-left: 0;
                }
                .btn {
                    &:focus,
                    &:hover {
                        background-color: #e9193a;
                    }
                }
            }
        }
        .lang {
            position: absolute;
            top: 40px;
            right: 15px;
            li {
                display: inline-block;
                margin-left: 5px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .member {
            position: absolute;
            top: 40px;
            right: 75px;
            li {
                position: relative;
                display: inline-block;
                padding-left: 12px;
                line-height: 18px;
                a {
                    color: #888;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 3px;
                    display: inline-block;
                    content: '|';
                    font-size: 10px;
                    color: #aaa;
                }
                &:first-child {
                    padding-left: 0;
                    &:before {
                        content: '';
                    }
                }
            }
        }
    }
    .gnb {
        position: relative;
        > div {
            position: relative;
            margin: 0 auto;
            width: 1200px;
            z-index: 1;
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    width: 200px;
                    > a {
                        display: block;
                        height: 51px;
                        text-align: center;
                        font-size: 18px;
                        color: #333;
                        line-height: 51px;
                        text-decoration: none;
                        &:focus,
                        &:hover {
                            color: #e9193a;
                        }
                    }
                    > ul {
                        display: none;
                        padding-top: 25px;
                        padding-bottom: 50px;
                        > li {
                            > a {
                                display: block;
                                font-size: 14px;
                                line-height: 35px;
                                color: #999;
                                text-align: center;
                                text-decoration: none;
                                &:focus,
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &:focus,
                    &:hover {
                        > a {
                            color: #e9193a;
                        }
                    }
                }
            }
        }
        .backface {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            padding-top: 51px;
            width: 100%;
            height: 100%;
            > div {
                height: 100%;
                background-color: rgba(#333, .95);
            }
        }
    }
    &.gnb-opened {
        .gnb {
            > div {
                > ul {
                    > li {
                        > ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

#find-treatments {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e9193a;
    h4 {
        font-size: 23px;
        color: #fff;
        i {
            font-style: normal;
            color: #fff799;
        }
        small {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            color: #ff8296;
            text-indent: 30px;
        }
    }
    ul {
        margin-left: -15px;
        margin-right: -15px;
        li {
            float: left;
            width: 100px;
            a {
                display: block;
                padding-top: 50px;
                width: 100%;
                height: 70px;
                text-align :center;
                white-space: nowrap;
                color: #fff;
                text-decoration: none;
                font-size: 15px;
                line-height: 20px;
                background-image: url(/images/ico_treatments.gif);
                background-repeat: no-repeat;
                letter-spacing: -1px;
                &:focus,
                &:hover {
                    color: #fff799;
                }
            }
            &:nth-of-type(1) a {
                background-position: 15px -70px;
                &:focus,
                &:hover {
                    background-position: 15px 0;
                }
            }
            &:nth-of-type(2) a {
                background-position: -85px -70px;
                &:focus,
                &:hover {
                    background-position: -85px 0;
                }
            }
            &:nth-of-type(3) a {
                background-position: -185px -70px;
                &:focus,
                &:hover {
                    background-position: -185px 0;
                }
            }
            &:nth-of-type(4) a {
                background-position: -285px -70px;
                &:focus,
                &:hover {
                    background-position: -285px 0;
                }
            }
            &:nth-of-type(5) a {
                background-position: -385px -70px;
                &:focus,
                &:hover {
                    background-position: -385px 0;
                }
            }
            &:nth-of-type(6) a {
                background-position: -485px -70px;
                &:focus,
                &:hover {
                    background-position: -485px 0;
                }
            }
            &:nth-of-type(7) a {
                background-position: -585px -70px;
                &:focus,
                &:hover {
                    background-position: -585px 0;
                }
            }
            &:nth-of-type(8) a {
                background-position: -685px -70px;
                &:focus,
                &:hover {
                    background-position: -685px 0;
                }
            }
            &:nth-of-type(9) a {
                background-position: -785px -70px;
                &:focus,
                &:hover {
                    background-position: -785px 0;
                }
            }
        }
    }
}

#footer {
    .full-contact {
        padding-top: 60px;
        padding-bottom: 60px;
        section {
            h4 {
                margin-top: 0;
                margin-bottom: 25px;
                font-size: 30px;
                letter-spacing: -1px;
                i {
                    font-style: normal;
                    color: #e9193a;
                }
            }
            h5 {
                float: left;
                margin-top: 0;
                margin-bottom: 0;
                width: 70px;
                height: 26px;
                line-height: 26px;
                border-radius: 3px;
                background-color: #4f4f4f;
                font-size: 15px;
                color: #fff;
                text-align: center;
                letter-spacing: -1px;
                font-weight: normal;
            }
            dl {
                margin-left: 90px;
                font-size: 15px;
                color: #666;
                letter-spacing: -1px;
                dt {
                    float: left;
                    width: 80px;
                    font-weight: normal;
                }
                dt, dd {
                    margin-bottom: 5px;
                }
            }
        }
        .branch {
            overflow: hidden;
            li {
                float: left;
                margin-bottom: 1px;
                width: 50%;
                a {
                    display: block;
                    width: 185px;
                    height: 82px;
                    text-indent: -999em;
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                    &:focus,
                    &:hover {
                        background-position: 100% 100%;
                    }
                }
                &:nth-of-type(1) {
                    a {
                        background-image: url(/images/bn_branch_1.gif);
                    }
                }
                &:nth-of-type(2) {
                    a {
                        background-image: url(/images/bn_branch_2.gif);
                    }
                }
                &:nth-of-type(3) {
                    a {
                        background-image: url(/images/bn_branch_3.gif);
                    }
                }
                &:nth-of-type(4) {
                    a {
                        background-image: url(/images/bn_branch_4.gif);
                    }
                }
            }
        }
    }
    .partners {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        background-color: #f9f9f9;
        h5 {
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            color: #333;
            line-height: 45px;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 400;
        }
        .controls {
            float: right;
            margin-top: 12px;
            a {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: #4f4f4f;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
                font-size: 10px;
            }
        }
    }
    .information {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
        letter-spacing: -1px;
        .policy {
            margin-bottom: 25px;
            li {
                display: inline-block;
                margin-right: 15px;
                a {
                    color: #666;
                    letter-spacing: -1px;
                    white-space: nowrap;
                }
            }
        }
        .company {
            color: #999;
            li {
                position: relative;
                display: inline-block;
                padding-left: 26px;
                line-height: 22px;
                address {
                    display: inline-block;
                    line-height: 22px;
                    white-space: nowrap;
                }
                dl {
                    display: inline-block;
                    dt, dd {
                        display: inline-block;
                        line-height: 22px;
                    }
                    dt {
                        font-weight: normal;
                        &:after {
                            padding-left: 3px;
                            content: ':';
                        }
                    }
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    padding: 0 10px;
                    content: '|';
                    font-size: 11px;
                }
                &:first-child {
                    padding-left: 0;
                    &:before {
                        content: '';
                        padding: 0;
                    }
                }
            }
        }
        .copyright {
            line-height: 22px;
            color: #999;
            a {
                color: #999;
            }
        }
        .family-sites {
            margin-top: 48px;
            .btn {
                position: relative;
                height: 40px;
                text-align: left;
                color: #666;
                line-height: 28px;
                background-color: #ebebeb;
                span {
                    position: absolute;
                    top: 18px;
                    right: 12px;
                }
            }
            .dropdown-menu {
                margin-top: 0;
                margin-bottom: 0;
                width: 100%;
                border-radius: 0;
                li {
                    a {
                        line-height: 30px;
                    }
                }
            }
        }
    }
}