.inpatient .page-header{background:url(../images/inpatient/visual.jpg) no-repeat top center;}
.inpatient .container{padding:100px 15px 140px 15px;letter-spacing:-1px;}
.inpatient .container h1{margin-top:0;padding-top:33px;color:#e9193a;font-size:22px;font-weight:400;line-height:30px;letter-spacing:-1px;background:url(../images/icon_title.png) no-repeat;}
.inpatient .container h1 span{padding-left:15px;color:#666;font-size:15px;font-weight:300;}
.inpatient .container hr{height:1px;padding-top:60px;margin-bottom:60px;border-bottom:1px dashed #999;border-top:none;}


/*rehabilitation_guide*/
.rehabGuide .container {width:1170px;overflow:hidden;}
.rehabGuide .container ul.clinicProcess{width:1170px;margin-top:40px;text-align:center;overflow:hidden;background:url(../images/inpatient/information_bg.gif) no-repeat top center;display:inline-block;}
.rehabGuide .container ul.clinicProcess li{width:160px;margin:0 37px;vertical-align:top;display:inline-block;}
.rehabGuide .container ul.clinicProcess li p{margin-top:20px;color:#666;font-size:16px;word-break:keep-all;}
.rehabGuide .container ul.clinicProcess li p span{margin-top:10px;color:#999;font-size:14px;display:block;}

.rehabGuide .container .infoBox{margin-top:60px;display:inline-block;}
.rehabGuide .container .infoBox h2{float:left;width:135px;margin-top:8px;;color:#333;font-size:18px;font-weight:400;}
.rehabGuide .container .infoBox ul{float:left;width:1035px;display:inline-block;}
.rehabGuide .container .infoBox ul li{padding:7px 0 7px 15px;color:#666;font-size:16px;font-weight:300;background:url(../images/outpatient/icon_arrow.gif) no-repeat 0 15px;}
.rehabGuide .container .infoBox ul li span{color:#e9193a;font-size:16px;font-weight:400;}

.rehabGuide .container .reservationBox{position:relative;height:200px;margin-top:120px;padding:40px;background:url(../images/outpatient/reservation_bg.jpg) no-repeat;}
.rehabGuide .container .reservationBox p{color:#fff;font-size:34px;font-weight:300;}
.rehabGuide .container .reservationBox span{margin-top:20px;color:#fff;font-size:18px;font-weight:300;display:block;}
.rehabGuide .container .reservationBox a{position:absolute;top:0;right:0;width:350px;height:200px;text-align:center;text-decoration:none;background:url(../images/outpatient/icon_calendal.png) no-repeat 55px 50%;display:block;}
.rehabGuide .container .reservationBox a i{padding-left:90px;color:#fff;line-height:200px;font-size:28px;font-style:normal;display:inline-block;}
.inpatient .container .nav-pills {
    padding-bottom: 60px;
}

/*vip*/
.vip .container .partCon ul{width:100%;margin-top:40px;display:inline-block;}
.vip .container .partCon ul li{float:left;width:50%;}
.vip .container .partCon ul li p{margin-top:30px;color:#666;font-size:16px;line-height:26px;font-weight:300;letter-spacing:-1px;}
.vip .container .partCon ul li a.view{width:180px;height:50px;margin-top:40px;padding-left:25px;color:#fff;font-size:18px;text-align:center;font-weight:300;line-height:50px;text-decoration:none;background:#e9193a url(../images/inpatient/icon_view.png) no-repeat 25px 50%;display:block;}

.vip .container .vipCon ul{width:1200px;margin-right:-30px;overflow:hidden;}
.vip .container .vipCon ul li{float:left;width:270px;margin-right:30px;display:inline-block;}
.vip .container .vipCon ul li p{margin-top:20px;color:#666;font-size:16px;font-weight:300;line-height:25px;word-break:keep-all;}

.inpatient h3 {
    font-size: 18px;
    color: #333;
    margin: 40px 0 30px;
}
.inpatient p {
    font-size: 16px;
    color: #666;
    line-height: 30px;
    letter-spacing: -1px;
}
/* business-team */
.inpatient.business-team {
    overflow: hidden;
}
.inpatient.business-team .business {
    background-image: url(/images/inpatient/business_team.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.inpatient.business-team .business > p {
    width: 500px;
}
.inpatient.business-team .counsel {
    float: left;
    width: 570px;
    margin: 120px 30px 0 0;
}
.inpatient.business-team .support {
    float: left;
    width: 570px;
    margin-top: 120px;
    
}
.inpatient.business-team .business-program {
    clear: both;
    padding-top: 120px;
    
}
.inpatient.business-team .business-program figure img {
    vertical-align: top;
}
.inpatient.business-team .business-program figure figcaption {
    margin-bottom: 40px;
}
.inpatient.business-team .business-program figure figcaption h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
    padding: 30px 0 10px 0;
}
.inpatient.business-team .business-program figure figcaption .arrow-list > li > i {
    font-size: 16px;
    color: #e9193a;
    font-style: normal;
}
.inpatient.business-team .business-program .attention {
    color: #666;
    font-size: 15px;
    line-height: 27px;
}
.inpatient.business-team .business-program .attention:before {
    color: #666;
    content: "※";
    padding-right: 5px;
}
.inpatient.business-team .business-program .attention i {
    font-style: normal;
    color: #222;
    font-size: 15px;
}
.inpatient.business-team .business-program .btn-area {
    margin: 40px 0 120px 0;
}
.inpatient.business-team .business-program .btn-area .btn-pink {
    width: 180px;
    height: 50px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    padding-left: 18px;
    background-color: #e9193a;
    background-image: url(/images/inpatient/cafe_btn.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
.inpatient.business-team .business-program .btn-area .btn-pink:hover {
    opacity: 0.8;
}
.inpatient.business-team .volunteer {
    float: left;
    width: 570px;
    margin-right: 30px;
}
.inpatient.business-team .volunteer > .volunteer-list {
    margin-top: 60px;
    text-align: center;
}
.inpatient.business-team .volunteer > .volunteer-list > li {
    display: inline-block;
    width: 190px;
    text-align: center;
    font-size: 16px;
    color: #666;
    line-height: 22px;
}
.inpatient.business-team .volunteer > .volunteer-list > li > small {
    font-size: 14px;
    color: #999;
}
.inpatient.business-team .volunteer > .volunteer-list > li:nth-of-type(1) {
    background-image: url(/images/inpatient/volunteer_bg01.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    vertical-align: top;
    padding-top: 180px;
    margin-right: 22px;
}
.inpatient.business-team .volunteer > .volunteer-list > li:nth-of-type(2) {
    background-image: url(/images/inpatient/volunteer_bg02.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    vertical-align: top;
    padding-top: 180px;
}
.inpatient.business-team .volunteer .arrow-list {
    margin-bottom: 30px;
}
.inpatient.business-team .volunteer .attention {
    color: #666;
    font-size: 15px;
    line-height: 27px;
}
.inpatient.business-team .volunteer .attention:before {
    color: #666;
    content: "※";
    padding-right: 5px;
}
.inpatient.business-team .volunteer .inline-dl dt {
    font-weight: 400;
    color: #222;
    font-size: 15px;
}
.inpatient.business-team .volunteer .inline-dl dd {
    font-size: 15px;
}
.inpatient.business-team .sponsor {
    background-image: url(/images/inpatient/sponsor_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    float: left;
    width: 570px;
    height: 795px;
}
.inpatient.business-team .sponsor p:nth-of-type(2) {
    margin-top: 55px;
}


/* menu-guide */
.inpatient.menu-guide .nutrition {
    height: 581px;
    background-image: url(/images/inpatient/nutrition_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.inpatient.menu-guide .nutrition p:nth-of-type(2) {
    margin-top: 55px;
}
.inpatient.menu-guide .meal {
    margin-top: 120px;
}
.inpatient.menu-guide .meal .section-header h2 {
    margin-bottom: 30px !important;
}
.inpatient.menu-guide .meal .section-content {
    overflow: hidden;
}
.inpatient.menu-guide .meal .section-content > h3 {
    float: left;
    width: 300px;
    margin: 0;
}
.inpatient.menu-guide .meal .section-content .arrow-list {
    float: left;
    width: 870px;
    margin-bottom: 40px;
}
.inpatient.menu-guide .meal .section-content .limitary-list {
    text-align: left;
    float: left;
    width: 870px;
    margin-bottom: 40px;
}
.inpatient.menu-guide .meal .section-content .limitary-list li {
    display: inline-block;
    text-align: center;
    width: 192px;
    padding-top: 175px;
    margin-right: 22px;
    vertical-align: top;
    line-height: 22px;
    font-size: 16px;
    color: #666;
}
.inpatient.menu-guide .meal .section-content .limitary-list li:nth-of-type(1) {
    background-image: url(/images/inpatient/limitary_bg01.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-left: -22px;
}
.inpatient.menu-guide .meal .section-content .limitary-list li:nth-of-type(2) {
    background-image: url(/images/inpatient/limitary_bg02.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.inpatient.menu-guide .meal .section-content .limitary-list li:nth-of-type(3) {
    background-image: url(/images/inpatient/limitary_bg03.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-right: 0;
}

.inpatient.menu-guide .meal .section-content .limitary-list li dl dt {
    font-size: 16px;
    color: #222;
    line-height: 25px;
}
.inpatient.menu-guide .meal .section-content .limitary-list li dl dd {
    font-size: 16px;
    color: #666;
    line-height: 25px;
}
.inpatient.menu-guide .meal .section-content .limitary-list li dl dd small {
    font-size: 14px;
    color: #999;
}
.inpatient.menu-guide .nutrition-balance {
    margin-top: 120px;
}
.inpatient.menu-guide .nutrition-balance .section-content {
    overflow: hidden;
}
.inpatient.menu-guide .nutrition-balance .section-content figure {
    width: 570px;
    float: left;
}
.inpatient.menu-guide .nutrition-balance .section-content figure:nth-of-type(1) {
    margin-right: 30px;
}
.inpatient.menu-guide .nutrition-balance .section-content figure figcaption {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -1px;
}
.inpatient.menu-guide .nutrition-balance .section-content
.process img {
    margin-top: 40px;
}
.inpatient.menu-guide .nutrition-balance .section-content
.process h4 {
    margin: 0;
    margin-top: 30px;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-weight: 400;
}
.inpatient.menu-guide .meal-time .section-header h2 {
    margin-bottom: 30px;
}
.inpatient.menu-guide .meal-time .table-wrap .table {
    margin-bottom: 30px;
}
.inpatient.menu-guide .meal-time .table-wrap .table thead tr th {
    background-color: #4f4f4f !important;
    color: #fff !important;
    border-right: 1px solid #4f4f4f;
    border-left: 1px solid #4f4f4f;
}
.inpatient.menu-guide .meal-time .table-wrap .table tbody tr td {
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    font-weight: 300;
}
.inpatient.menu-guide .meal-time .table-wrap .table tbody tr td:first-child {
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    color: #666;
    font-weight: 300;
}
.inpatient.menu-guide .vow {
    margin-top: 120px;
}
.inpatient.menu-guide .vow .section-content {
    overflow: hidden;
}
.inpatient.menu-guide .vow .section-content h3 {
    float:left;
    width: 190px;
    margin: 0;
}
.inpatient.menu-guide .vow .section-content > ul {
    float:left;
    width: 980px;
}
.inpatient.menu-guide .vow .section-content > ul > li {
    width: 161px;
    margin-right: 49px;
    padding-top: 175px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.inpatient.menu-guide .vow .section-content > ul > li:nth-of-type(1) {
    background-image: url(/images/inpatient/vow_img01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.inpatient.menu-guide .vow .section-content > ul > li:nth-of-type(2) {
    background-image: url(/images/inpatient/vow_img02.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.inpatient.menu-guide .vow .section-content > ul > li:nth-of-type(3) {
    background-image: url(/images/inpatient/vow_img03.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.inpatient.menu-guide .vow .section-content > ul > li:nth-of-type(4) {
    background-image: url(/images/inpatient/vow_img04.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 0;
}
.inpatient.menu-guide .vow .section-content > ul > li > dl > dt {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #222;
}
.inpatient.menu-guide .vow .section-content > ul > li > dl > dd {
    font-size: 16px;
    line-height: 25px;
    color: #666;
}
.inpatient.menu-guide .counsel {
    margin-top: 120px;
}




























































