/*about*/
.about .container .aboutSrc{height:610px;padding-top:40px;margin:60px 0 150px 0;background:url(../images/introduce/about_img01.gif) no-repeat top right;}
.about .container .aboutSrc h1{padding-top:30px;color:#e9193a;font-size:40px;font-weight:300;background:url(../images/icon_title.png) no-repeat;}
.about .container .aboutSrc h2{color:#444;font-size:22px;font-weight:400;line-height:26px;}
.about .container .aboutSrc p{padding-top:10px;color:#666;font-size:16px;font-weight:300;line-height:26px;}


/*greeting*/
.greeting .ceo{position:relative;height:533px;background:url(../images/introduce/greeting_img01.gif) no-repeat top center;}
.greeting .ceo .container .ceoImg{position:absolute;top:-37px;left:50%;width:457px;margin-left:85px;}
.greeting .ceo .container .ceoMessage{width:600px;margin-top:115px;padding:40px;}
.greeting .ceo .container .ceoMessage h1{margin-top:0px;color:#fff;font-size:26px;font-weight:400;line-height:36px;letter-spacing:-1px;}
.greeting .ceo .container .ceoMessage h1 span{color:#f5a4a4;font-size:26px;line-height:36px;letter-spacing:-3px;}
.greeting .ceo .container .ceoMessage h2{margin-top:30px;color:#fff;font-size:16px;font-weight:300;line-height:26px;}

.greeting .container .greetingText{margin-top:80px;margin-bottom:150px;display:inline-block;}
.greeting .container .greetingText dl{float:left;width:585px;height:385px;display:block;}
.greeting .container .greetingText dl dt{height:120px;padding-top:30px;color:#e9193a;font-size:22px;font-weight:400;line-height:30px;background:url(../images/icon_title.png) no-repeat;}
.greeting .container .greetingText dl dd{height:250px;padding-top:25px;color:#666;font-size:15px;font-weight:300;line-height:22px;}
.greeting .container .greetingText dl dd p{margin-top:45px;text-align:right;}


/*history*/
.history .tabArea{width:100%;padding:30px 0;text-align:center;background:url(../images/introduce/tab_bg.gif) no-repeat top center;}
.history .tabArea a{width:100px;height:115px;margin:0 20px;padding:25px 0;font-family: 'Lato', sans-serif;color:#fff;font-size:20px;font-weight:400;line-height:20px;text-decoration:none;display:inline-block;}
.history .tabArea a:link{background:url(../images/introduce/tab_sty01_off.png);}
.history .tabArea a:visited{background:url(../images/introduce/tab_sty01_off.png);}
.history .tabArea a:hover{background:url(../images/introduce/tab_sty01_on.png);}
.history .tabArea a:active{background:url(../images/introduce/tab_sty01_on.png);}

.history .container{padding:100px 0 150px 0;}
.history .historyTit{float:left;width:400px;}
.history .historyTit h1{margin-top:0;color:#444;font-size:55px;font-weight:300;line-height:65px;}
.history .historyTit h1 b{font-weight:normal;display:block;}
.history .historyTit h2{margin-top:20px;font-family: 'Lato', sans-serif;color:#e9193a;font-size:30px;font-weight:300;}
.history .historyTit p{margin-top:40px;}

.history .historyCon{float:left;width:770px;background:url(../images/introduce/history_bg.gif) no-repeat;}
.history .historyCon dl{margin:-10px 0 -10px 55px;width:715px;display:table;}
.history .historyCon dl dt{float:left;width:155px;height:40px;font-family:'Lato', sans-serif;color:#e9193a;font-size:22px;font-weight:300;line-height:40px;letter-spacing:-1px;}
.history .historyCon dl dd{float:left;width:560px;height:40px;color:#666;font-size:16px;font-weight:300;line-height:40px;letter-spacing:-1px;}


/*location*/
.location .container .viewMap{margin:60px 0 20px 0;text-align:right;}
.location .container .viewMap a{color:#333;font-size:#444;font-size:16px;line-height:18px;text-decoration:none;display:inline-block;}
.location .container .viewMap a img{margin-top:-3px;margin-right:8px;}

.location .container .tabArea{margin:50px 0;text-align:center;}
.location .container .tabArea ul.tab02 li{width:80px;height:92px;margin:0 20px;display:inline-block;}
.location .container .tabArea ul.tab02 li a{width:80px;height:92px;font-size:16px;font-weight:400;line-height:92px;text-decoration:none;display:inline-block;}
.location .container .tabArea ul.tab02 li a:link{color:#666;background:url(../images/introduce/tab_sty02_off.png);}
.location .container .tabArea ul.tab02 li a:visited{color:#666;background:url(../images/introduce/tab_sty02_off.png);}
.location .container .tabArea ul.tab02 li a:hover{color:#e9193a;background:url(../images/introduce/tab_sty02_on.png);}
.location .container .tabArea ul.tab02 li a:active{color:#e9193a;background:url(../images/introduce/tab_sty02_on.png);}
.location .container .tabArea ul.tab02 li.active a{color:#e9193a;background:url(../images/introduce/tab_sty02_on.png);}

.location .locationTit{width:100%;min-height:125px;padding:25px 0 30px 0;text-align:center;background:url(../images/introduce/tab_bg.gif) no-repeat top center;}
.location .locationTit h1{margin:15px 0;color:#333;font-size:32px;font-weight:300;letter-spacing:-1px;}
.location .locationTit h1 b{color:#e9193a;font-size:32px;font-weight:500;}
.location .locationTit p{color:#666;font-size:16px;font-weight:300;line-height:25px;}
.location .locationTit p b{color:#444;font-weight:400;}
.location .locationTit p i{color:#e9193a;font-weight:400;font-style:normal;}

.location .tab-content .container{margin:60px auto 150px auto;text-align:center;}
.location .tab-content .container hr{height:1px;padding-top:80px;margin-bottom:80px;border-bottom:1px dashed #999;border-top:none;}
.location .tab-content .container p{margin-bottom:30px;color:#333;font-size:24px;font-weight:300;letter-spacing:-1px;}
.location .tab-content .container p b{font-weight:400;}
.location .tab-content .container p span{color:#666;font-size:16px;font-weight:300;}
.location .tab-content .container h1{margin-top:50px;padding-top:30px;color:#e9193a;font-size:22px;font-weight:normal;text-align:left;background:url(../images/icon_title.png) no-repeat;}
.location .tab-content .container h1 span{color:#666;font-size:16px;font-weight:300;}

.location .tab-content .container .table02{width:100%;margin-top:20px;border-top:2px solid #4f4f4f;}
.location .tab-content .container .table02 thead th{padding:15px 0;color:333;font-size:14px;font-weight:400;text-align:center;background:#f4f4f4;border:1px solid #ccc}
.location .tab-content .container .table02 tbody th{padding:15px 0;color:#333;font-size:14px;font-weight:400;text-align:center;background:#f4f4f4;border:1px solid #ccc;}
.location .tab-content .container .table02 tbody td{padding:15px 0;color:#333;font-size:14px;font-weight:300;;text-align:center;border:1px solid #ccc;}
.location .tab-content .container .table02 tbody td span{color:#e9193a;font-weight:400;}

.location .container ul.public{margin:70px auto 150px auto;text-align:center;}
.location .container ul.public li{width:240px;color:#666;font-size:16px;font-weight:n300;line-height:22px;letter-spacing:-1px;display:inline-block;}
.location .container ul.public li p{margin-bottom:20px;}

.location .container .car{margin:70px auto 150px auto;text-align:center;}
.location .container h1{margin-top:50px;padding-top:30px;color:#e9193a;font-size:22px;font-weight:normal;text-align:left;background:url(../images/icon_title.png) no-repeat;}
.location .container p{margin-top:25px;}

#popMap{width:1170px;margin:0 auto;padding-top:150px;}
#popMap p{text-align:right;}
#popMap .map{width:1170px;height:500px;margin-top:15px;background:gray;}
#popMap span{margin-top:20px;color:#fff;font-size:16px;font-weight:300;display:block;}


/*partners*/
.partner .container{padding:40px 0 150px 0;}
.partner .container .table03{width:100%;}
.partner .container .table03 thead th{color:#fff;font-size:16px;font-weight:400;line-height:54px;text-align:center;background:#444;}
.partner .container .table03 tbody td{color:#666;font-size:16px;font-weight:300;line-height:54px;text-align:center;border-bottom:1px solid #ccc;}
.partner .container .table03 tbody td.rline{border-right:1px solid #ccc;}
.partner .container .table03 tbody td a{margin-left:40px;padding-left:30px;color:#999;text-align:left;background:url(../images/introduce/icon_web.gif) no-repeat 0 50%;display:block;}




/* medical-team */
.introduce.medical-team .page-header > h2 > small{
    font-size: 24px;
    margin-top: 10px;
    display: block;
    color: #777;
    letter-spacing: 0;
}
.introduce.medical-team .container {
    padding: 60px 15px 150px 15px;
}
.introduce.medical-team .team .section-header > h2 {
    font-size: 40px !important;
    padding-top: 38px !important;
}
.introduce.medical-team .team .section-header > h2 > small {
    display: inline-block;
    color: #444;
    font-size: 22px;
    margin-top: 15px;
}
.team-list > li {
    width: 170px;
    display: inline-block;
    margin-right: 27px;
    padding: 0;
}
.team-list > li:nth-of-type(6) {
    margin-right: 0;
}
.team-list > li > a {
    position: relative;
    width: 170px !important;
    text-decoration: none;
}
.team-list > li > a:hover span {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e9193a;
    background-image: url(/images/introduce/hover_plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.team-list > li > a > figure > img {
    width: 170px;
    height: 170px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;

}
.team-list > li > a > figure > figcaption {
    margin-top: 20px;
    width: 170px;
    text-align: center;
}
.team-list > li > a > figure > figcaption > dl > dt {
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
.team-list > li > a > figure > figcaption > dl > dd {
    font-size: 15px;
    color: #666;
}
.introduce.medical-team .team .section-content h3 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333;
}
.introduce.medical-team .team .section-content .rehabilitation {
    margin-top: 70px;
}
.introduce.medical-team .team .section-content .convalescence  {
    margin-top: 60px;
}







/************ Modal ***********/
.modal {
    width: 100%;
    z-index: 9999;
}
.modal .modal-dialog {
    border-radius: 0 !important;
    background-color: #fff;
}
.modal .modal-dialog .modal-content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin: 25% auto 0 -100px;
    padding: 30px;
    border-radius: 0;
    width: 832px;
    height: 543px;
}
.modal .modal-dialog .modal-content .modal-header button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #e9193a;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 68px;
    opacity: 1;
}
.modal .modal-dialog .modal-content .modal-header {
    border: 0;
    padding: 0;
}
.modal .modal-dialog .modal-content .modal-header h1 {
    margin: 0;
    margin-bottom: 70px;
    padding-top: 33px;
    color: #e9193a;
    font-size: 40px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -1px;
    background: url(/images/icon_title.png) no-repeat;
}
.modal .modal-dialog .modal-content > figure {
    float: left;
}
.modal .modal-dialog .modal-content > figure > figcaption {
    text-align: center;
    margin-top: 20px;
}
.modal .modal-dialog .modal-content > figure > figcaption > dl > dt {
    font-size: 18px;
    color: #222;
    font-weight: 400;
}
.modal .modal-dialog .modal-content > figure > figcaption > dl > dd {
    font-size: 16px;
    color: #222;
    margin-top: 10px;
}
.modal .modal-dialog .modal-content .staff-history {
    float: right;
    overflow: auto;
    width: 470px;
    max-height: 343px;
    padding: 22px 32px;
    border: 1px solid #f5f5f5;
    background-color: #fafafa;
}
.modal .modal-dialog .modal-content .staff-history .arrow-list li {
    font-size: 15px;
    color: #666;
    letter-spacing: -1px;
}











/* look_round */
.introduce.look_round .page-header > h2 > small{
    font-size: 24px;
    margin-top: 10px;
    display: block;2345
    color: #777;
    letter-spacing: 0;
}
.introduce.look_round .container {
    padding: 100px 15px 150px 15px;
}
.introduce.look_round .container > .nav.nav-pills.nav-justified > li > a {
    letter-spacing: -1px;
    padding: 10px 0;
}
.introduce.look_round .container > .tab-content {
    padding-top: 60px;
}

.introduce.look_round .container > .tab-content > .ward-1 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-2 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-3 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-4 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-5 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-6 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-7 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-8 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-9 {
    position: relative;
}
.introduce.look_round .container > .tab-content > .ward-10 {
    position: relative;
}

.introduce.look_round .container > .tab-content > .tab-pane > p > a {
    display: block;
    width: 89px;
    height: 99px;
    background-image: url(/images/introduce/point_img01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: center;
    padding-top: 25px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.introduce.look_round .container > .tab-content > .ward-1 > p > a {
    position: absolute;
    top: 203px;
    right: 341px;
}
.introduce.look_round .container > .tab-content > .ward-2 > p > a {
    position: absolute;
    top: 134px;
    right: 566px;
}
.introduce.look_round .container > .tab-content > .ward-3 > p > a {
    position: absolute;
    bottom: 258px;
    right: 331px;
}
.introduce.look_round .container > .tab-content > .ward-4 > p > a {
    position: absolute;
    top: 22px;
    left: 323px;
}
.introduce.look_round .container > .tab-content > .ward-5 > p > a {
    position: absolute;
    top: 155px;
    right: 422px;
}
.introduce.look_round .container > .tab-content > .ward-6 > p > a {
    position: absolute;
    top: 72px;
    left: 258px;
}
.introduce.look_round .container > .tab-content > .ward-7 > p > a {
    position: absolute;
    top: 140px;
    left: 193px;
}
.introduce.look_round .container > .tab-content > .ward-8 > p > a {
    position: absolute;
    top: 136px;
    left: 295px;
}
.introduce.look_round .container > .tab-content > .ward-9 > p > a {
    position: absolute;
    top: 222px;
    left: 244px;
}
.introduce.look_round .container > .tab-content > .ward-10 > p > a {
    position: absolute;
    bottom: 163px;
    left: 230px;
}






/************ Modal ************/
.modal.look-round {
    display: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(25, 25, 25, .5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal.look-round .modal-content {
    overflow: hidden;
    position: relative;
    margin: 10% auto 0; /* 15% from the top and centered */
    border-radius: 0;
    text-align: center;
    width: 970px;
    box-shadow: none;
    border: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, .0);
}
/* The Close Button */
.modal.look-round .modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}
.modal.look-round .modal-content > h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
    margin: 0;
    font-weight: 300;
}
.modal.look-round .modal-content > p > img {
    margin-top: 40px;
    width: 970px;
}





































