.member {
    > .member-content {
        padding-top: 80px;
        padding-bottom: 150px;
        background-image: url(/images/member/bg_login.gif);
        background-repeat: repeat-y;
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        .section-header {
            padding-top: 35px;
            background-image: url(/images/ico_section_header.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            h1, h2, h3, h4, h5, h6, h7 {
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 28px;
                color: #e9193a;
                letter-spacing: -2px;
                small {
                    font-size: 15px;
                    color: #666;
                }
            }
            p {
                font-size: 17px;
                color: #333;
                letter-spacing: -1px;
                font-weight: normal;
            }
            &.text-center {
                background-position: 50% 0;
            }
        }

        .form-control {
            margin-bottom: 20px;
            height: 40px;
            box-shadow: none;
            border-radius: 0;
            &:focus {
                border-color: #e9193a;
            }
        }
    }
}

.member.login {
    > .member-content {
        .section-header {
            margin-bottom: 35px;
        }
        .login-section {
            margin: 0 auto;
            padding-top: 35px;
            width: 600px;
            height: 430px;
            background-color: #fff;
            .login-form {
                margin: 0 auto;
                width: 380px;
                .form-control {
                    height: 45px;
                }
                .btn {
                    height: 45px;
                    background-color: #e9193a;
                    font-size: 18px;
                }
                .help-member {
                    margin-top: 15px;
                    ul {
                        li {
                            display: inline-block;
                            a {
                                font-size: 14px;
                                color: #666;
                            }
                            &:first-child:after {
                                padding-left: 7px;
                                padding-right: 5px;
                                content: '/';
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
    }
}

.member.find {
    > .member-content {
        .section-header {
            margin-bottom: 35px;
        }
        .find-section {
            float: left;
            margin-left: 15px;
            padding-top: 35px;
            width: 560px;
            height: 480px;
            background-color: #fff;
            .find-form {
                margin: 0 auto;
                width: 380px;
                .form-control {
                    height: 45px;
                }
                .btn {
                    height: 45px;
                    font-size: 18px;
                }
            }
            &:nth-of-type(2) {
                float: right;
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
}

.member.join {
    > .member-content {
        .terms-section {
            margin: 0 auto;
            padding: 30px 30px 80px;
            width: 1000px;
            background-color: #fff;
            > section {
                margin-bottom: 30px;
                &:nth-of-type(2) {
                    margin-bottom: 75px;
                }
            }
            .section-header {
                margin-bottom: 15px;
            }
            .terms-area {
                overflow-y: scroll;
                margin-bottom: 15px;
                height: 240px;
                border: 1px solid #ccc;
            }
            .agree-terms {
                p {
                    margin-bottom: 5px;
                    font-size: 15px;
                    color: #666;
                    text-align: right;
                    label {
                        margin-left: 10px;
                        font-weight: normal;
                    }
                }
            }
            .btn-area {
                p {
                    text-align: right;
                    .btn {
                        width: 150px;
                        height: 40px;
                        font-size: 16px;
                        line-height: 28px;
                        &.btn-next {
                            background-color: #e9193a;
                        }
                        &:hover,
                        &:focus {
                            opacity: .9;
                        }
                    }
                }
            }
        }
        .join-section {
            margin: 0 auto;
            padding: 30px 30px 80px;
            width: 1000px;
            background-color: #fff;
            .section-header {
                margin-bottom: 25px;
            }
            .join-form {
                .form-control {
                    display: inline-block;
                    margin-bottom: 0;
                    width: 340px;
                }
                .table {
                    margin-bottom: 80px;
                    th {
                        padding-left: 30px;
                        border-right: 1px solid #ccc;
                        font-weight: normal;
                        text-align: left;
                        label {
                            font-weight: normal;
                        }
                    }
                    td {
                        padding-left: 30px;
                        padding-right: 30px;
                        text-align: left;
                    }
                    .birth {
                        .form-control {
                            margin-right: 10px;
                            width: 150px;
                        }
                    }
                    .gender {
                        label {
                            width: 60px;
                            font-weight: normal;
                        }
                    }
                    .addr {
                        div {
                            margin-bottom: 10px;
                            &.zipcode {
                                .form-control {
                                    width: 120px;
                                }
                                .btn {
                                    height: 40px;
                                    vertical-align: top;
                                }
                            }
                            &.default {
                                .form-control {
                                    width: 580px;
                                }
                            }
                            &.details {
                                margin-bottom: 0;
                                .form-control {
                                    width: 580px;
                                }
                            }
                        }
                    }
                    .phone, .mobile {
                        .form-control {
                            width: 200px;
                        }
                    }
                }
                .btn-area {
                    p {
                        text-align: right;
                        .btn {
                            width: 150px;
                            height: 40px;
                            font-size: 16px;
                            line-height: 28px;
                            &.btn-join {
                                background-color: #e9193a;
                                &:hover,
                                &:focus {
                                    opacity: .9;
                                }
                            }
                        }
                    }
                }
            }
        }
        .edit-section {
            margin: 0 auto;
            padding: 30px 30px 80px;
            width: 1000px;
            background-color: #fff;
            .section-header {
                margin-bottom: 25px;
            }
            .edit-form {
                .form-control {
                    display: inline-block;
                    margin-bottom: 0;
                    width: 340px;
                }
                .table {
                    margin-bottom: 80px;
                    th {
                        padding-left: 30px;
                        border-right: 1px solid #ccc;
                        font-weight: normal;
                        text-align: left;
                        label {
                            font-weight: normal;
                        }
                    }
                    td {
                        padding-left: 30px;
                        padding-right: 30px;
                        text-align: left;
                    }
                    .birth {
                        .form-control {
                            margin-right: 10px;
                            width: 150px;
                        }
                    }
                    .gender {
                        label {
                            width: 60px;
                            font-weight: normal;
                        }
                    }
                    .addr {
                        div {
                            margin-bottom: 10px;
                            &.zipcode {
                                .form-control {
                                    width: 120px;
                                }
                                .btn {
                                    height: 40px;
                                    vertical-align: top;
                                }
                            }
                            &.default {
                                .form-control {
                                    width: 580px;
                                }
                            }
                            &.details {
                                margin-bottom: 0;
                                .form-control {
                                    width: 580px;
                                }
                            }
                        }
                    }
                    .phone, .mobile {
                        .form-control {
                            width: 200px;
                        }
                    }
                }
                .btn-area {
                    p {
                        text-align: right;
                        .btn {
                            width: 150px;
                            height: 40px;
                            font-size: 16px;
                            line-height: 28px;
                            &.btn-edit {
                                background-color: #e9193a;
                                &:hover,
                                &:focus {
                                    opacity: .9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}