.member > .member-content {
  padding-top: 80px;
  padding-bottom: 150px;
  background-image: url(/images/member/bg_login.gif);
  background-repeat: repeat-y;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%; }
  .member > .member-content .section-header {
    padding-top: 35px;
    background-image: url(/images/ico_section_header.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
    .member > .member-content .section-header h1, .member > .member-content .section-header h2, .member > .member-content .section-header h3, .member > .member-content .section-header h4, .member > .member-content .section-header h5, .member > .member-content .section-header h6, .member > .member-content .section-header h7 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 28px;
      color: #e9193a;
      letter-spacing: -2px; }
      .member > .member-content .section-header h1 small, .member > .member-content .section-header h2 small, .member > .member-content .section-header h3 small, .member > .member-content .section-header h4 small, .member > .member-content .section-header h5 small, .member > .member-content .section-header h6 small, .member > .member-content .section-header h7 small {
        font-size: 15px;
        color: #666; }
    .member > .member-content .section-header p {
      font-size: 17px;
      color: #333;
      letter-spacing: -1px;
      font-weight: normal; }
    .member > .member-content .section-header.text-center {
      background-position: 50% 0; }
  .member > .member-content .form-control {
    margin-bottom: 20px;
    height: 40px;
    box-shadow: none;
    border-radius: 0; }
    .member > .member-content .form-control:focus {
      border-color: #e9193a; }

.member.login > .member-content .section-header {
  margin-bottom: 35px; }
.member.login > .member-content .login-section {
  margin: 0 auto;
  padding-top: 35px;
  width: 600px;
  height: 430px;
  background-color: #fff; }
  .member.login > .member-content .login-section .login-form {
    margin: 0 auto;
    width: 380px; }
    .member.login > .member-content .login-section .login-form .form-control {
      height: 45px; }
    .member.login > .member-content .login-section .login-form .btn {
      height: 45px;
      background-color: #e9193a;
      font-size: 18px; }
    .member.login > .member-content .login-section .login-form .help-member {
      margin-top: 15px; }
      .member.login > .member-content .login-section .login-form .help-member ul li {
        display: inline-block; }
        .member.login > .member-content .login-section .login-form .help-member ul li a {
          font-size: 14px;
          color: #666; }
        .member.login > .member-content .login-section .login-form .help-member ul li:first-child:after {
          padding-left: 7px;
          padding-right: 5px;
          content: '/';
          color: #999; }

.member.find > .member-content .section-header {
  margin-bottom: 35px; }
.member.find > .member-content .find-section {
  float: left;
  margin-left: 15px;
  padding-top: 35px;
  width: 560px;
  height: 480px;
  background-color: #fff; }
  .member.find > .member-content .find-section .find-form {
    margin: 0 auto;
    width: 380px; }
    .member.find > .member-content .find-section .find-form .form-control {
      height: 45px; }
    .member.find > .member-content .find-section .find-form .btn {
      height: 45px;
      font-size: 18px; }
  .member.find > .member-content .find-section:nth-of-type(2) {
    float: right;
    margin-left: 0;
    margin-right: 15px; }

.member.join > .member-content .terms-section {
  margin: 0 auto;
  padding: 30px 30px 80px;
  width: 1000px;
  background-color: #fff; }
  .member.join > .member-content .terms-section > section {
    margin-bottom: 30px; }
    .member.join > .member-content .terms-section > section:nth-of-type(2) {
      margin-bottom: 75px; }
  .member.join > .member-content .terms-section .section-header {
    margin-bottom: 15px; }
  .member.join > .member-content .terms-section .terms-area {
    overflow-y: scroll;
    margin-bottom: 15px;
    height: 240px;
    border: 1px solid #ccc; }
  .member.join > .member-content .terms-section .agree-terms p {
    margin-bottom: 5px;
    font-size: 15px;
    color: #666;
    text-align: right; }
    .member.join > .member-content .terms-section .agree-terms p label {
      margin-left: 10px;
      font-weight: normal; }
  .member.join > .member-content .terms-section .btn-area p {
    text-align: right; }
    .member.join > .member-content .terms-section .btn-area p .btn {
      width: 150px;
      height: 40px;
      font-size: 16px;
      line-height: 28px; }
      .member.join > .member-content .terms-section .btn-area p .btn.btn-next {
        background-color: #e9193a; }
      .member.join > .member-content .terms-section .btn-area p .btn:hover, .member.join > .member-content .terms-section .btn-area p .btn:focus {
        opacity: .9; }
.member.join > .member-content .join-section {
  margin: 0 auto;
  padding: 30px 30px 80px;
  width: 1000px;
  background-color: #fff; }
  .member.join > .member-content .join-section .section-header {
    margin-bottom: 25px; }
  .member.join > .member-content .join-section .join-form .form-control {
    display: inline-block;
    margin-bottom: 0;
    width: 340px; }
  .member.join > .member-content .join-section .join-form .table {
    margin-bottom: 80px; }
    .member.join > .member-content .join-section .join-form .table th {
      padding-left: 30px;
      border-right: 1px solid #ccc;
      font-weight: normal;
      text-align: left; }
      .member.join > .member-content .join-section .join-form .table th label {
        font-weight: normal; }
    .member.join > .member-content .join-section .join-form .table td {
      padding-left: 30px;
      padding-right: 30px;
      text-align: left; }
    .member.join > .member-content .join-section .join-form .table .birth .form-control {
      margin-right: 10px;
      width: 150px; }
    .member.join > .member-content .join-section .join-form .table .gender label {
      width: 60px;
      font-weight: normal; }
    .member.join > .member-content .join-section .join-form .table .addr div {
      margin-bottom: 10px; }
      .member.join > .member-content .join-section .join-form .table .addr div.zipcode .form-control {
        width: 120px; }
      .member.join > .member-content .join-section .join-form .table .addr div.zipcode .btn {
        height: 40px;
        vertical-align: top; }
      .member.join > .member-content .join-section .join-form .table .addr div.default .form-control {
        width: 580px; }
      .member.join > .member-content .join-section .join-form .table .addr div.details {
        margin-bottom: 0; }
        .member.join > .member-content .join-section .join-form .table .addr div.details .form-control {
          width: 580px; }
    .member.join > .member-content .join-section .join-form .table .phone .form-control, .member.join > .member-content .join-section .join-form .table .mobile .form-control {
      width: 200px; }
  .member.join > .member-content .join-section .join-form .btn-area p {
    text-align: right; }
    .member.join > .member-content .join-section .join-form .btn-area p .btn {
      width: 150px;
      height: 40px;
      font-size: 16px;
      line-height: 28px; }
      .member.join > .member-content .join-section .join-form .btn-area p .btn.btn-join {
        background-color: #e9193a; }
        .member.join > .member-content .join-section .join-form .btn-area p .btn.btn-join:hover, .member.join > .member-content .join-section .join-form .btn-area p .btn.btn-join:focus {
          opacity: .9; }
.member.join > .member-content .edit-section {
  margin: 0 auto;
  padding: 30px 30px 80px;
  width: 1000px;
  background-color: #fff; }
  .member.join > .member-content .edit-section .section-header {
    margin-bottom: 25px; }
  .member.join > .member-content .edit-section .edit-form .form-control {
    display: inline-block;
    margin-bottom: 0;
    width: 340px; }
  .member.join > .member-content .edit-section .edit-form .table {
    margin-bottom: 80px; }
    .member.join > .member-content .edit-section .edit-form .table th {
      padding-left: 30px;
      border-right: 1px solid #ccc;
      font-weight: normal;
      text-align: left; }
      .member.join > .member-content .edit-section .edit-form .table th label {
        font-weight: normal; }
    .member.join > .member-content .edit-section .edit-form .table td {
      padding-left: 30px;
      padding-right: 30px;
      text-align: left; }
    .member.join > .member-content .edit-section .edit-form .table .birth .form-control {
      margin-right: 10px;
      width: 150px; }
    .member.join > .member-content .edit-section .edit-form .table .gender label {
      width: 60px;
      font-weight: normal; }
    .member.join > .member-content .edit-section .edit-form .table .addr div {
      margin-bottom: 10px; }
      .member.join > .member-content .edit-section .edit-form .table .addr div.zipcode .form-control {
        width: 120px; }
      .member.join > .member-content .edit-section .edit-form .table .addr div.zipcode .btn {
        height: 40px;
        vertical-align: top; }
      .member.join > .member-content .edit-section .edit-form .table .addr div.default .form-control {
        width: 580px; }
      .member.join > .member-content .edit-section .edit-form .table .addr div.details {
        margin-bottom: 0; }
        .member.join > .member-content .edit-section .edit-form .table .addr div.details .form-control {
          width: 580px; }
    .member.join > .member-content .edit-section .edit-form .table .phone .form-control, .member.join > .member-content .edit-section .edit-form .table .mobile .form-control {
      width: 200px; }
  .member.join > .member-content .edit-section .edit-form .btn-area p {
    text-align: right; }
    .member.join > .member-content .edit-section .edit-form .btn-area p .btn {
      width: 150px;
      height: 40px;
      font-size: 16px;
      line-height: 28px; }
      .member.join > .member-content .edit-section .edit-form .btn-area p .btn.btn-edit {
        background-color: #e9193a; }
        .member.join > .member-content .edit-section .edit-form .btn-area p .btn.btn-edit:hover, .member.join > .member-content .edit-section .edit-form .btn-area p .btn.btn-edit:focus {
          opacity: .9; }

/*# sourceMappingURL=member.css.map */
