.outpatient .page-header{background:url(../images/departments/visual.jpg) no-repeat top center;}
.outpatient .container{padding:60px 15px 140px 15px;letter-spacing:-1px;}
.outpatient .container h1{margin-top:0;padding-top:33px;color:#e9193a;font-size:22px;font-weight:400;line-height:30px;letter-spacing:-1px;background:url(../images/icon_title.png) no-repeat;}
.outpatient .container h1 span{color:#666;font-size:15px;}


/*information*/
.information .container {width:1170px;overflow:hidden;}
.information .container ul.clinicProcess{width:1212px;margin-top:40px;margin-right:-42px;overflow:hidden;background:url(../images/outpatient/information_bg.gif) no-repeat;display:inline-block;}
.information .container ul.clinicProcess li{float:left;width:160px;margin-right:42px;text-align:center;}
.information .container ul.clinicProcess li p{margin-top:20px;color:#666;font-size:16px;}

.information .container .timeTable{width:100%;}
.information .container .timeTable thead th{color:#fff;font-size:16px;font-weight:400;line-height:53px;text-align:center;border:1px solid #ccc;border-top:none;background:#444;}
.information .container .timeTable tbody td{color:#333;font-size:14px;font-weight:400;line-height:53px;text-align:center;border:1px solid #ccc;}
.information .container .timeTable tbody td{color:#333;font-size:14px;font-weight:400;line-height:53px;text-align:center;border:1px solid #ccc;}
.information .container .timeTable tbody td.jhg{background:#fef3f5;}
.information .container .timeTable tbody td.kdj{background:#f9f9f9;}
.information .container .timeTable tbody td.jkh{background:#eeeeee;}
.information .container .timeTable tbody td.yyh{background:#dddddd;}
.information .container .timeTable tbody td.khb{background:#fbdadf;}

.information .container .infoBox{margin-top:50px;}
.information .container .infoBox h2{color:#333;font-size:18px;font-weight:400;}
.information .container .infoBox ul{width:100%;margin-top:10px;display:inline-block;}
.information .container .infoBox ul li{padding:7px 0 7px 15px;color:#666;font-size:16px;font-weight:300;background:url(../images/outpatient/icon_arrow.gif) no-repeat 0 15px;}
.information .container .infoBox ul li b{color:#333;font-size:16px;font-weight:400;}

.information .container .call{margin-top:40px;color:#e9193a;font-size:22px;font-weight:400;}
.information .container .call img{margin-right:10px;}
.information .container .call span{font-family:'Lato', sans-serif;font-weight:600;letter-spacing:0;}

.information .container .reservationBox{position:relative;height:200px;margin-top:120px;padding:40px;background:url(../images/outpatient/reservation_bg.jpg) no-repeat;}
.information .container .reservationBox p{color:#fff;font-size:34px;font-weight:300;}
.information .container .reservationBox span{margin-top:20px;color:#fff;font-size:18px;font-weight:300;display:block;}
.information .container .reservationBox a{position:absolute;top:0;right:0;width:350px;height:200px;text-align:center;text-decoration:none;background:url(../images/outpatient/icon_calendal.png) no-repeat 55px 50%;display:block;}
.information .container .reservationBox a i{padding-left:90px;color:#fff;line-height:200px;font-size:28px;font-style:normal;display:inline-block;}

.w50{width:50%;}
.fl{float:left;}
.fr{float:right;}







.outpatient .container {
    padding: 100px 15px 140px;
}
.outpatient h3 {
    font-size: 18px;
    color: #333;
    margin: 40px 0 30px;
}
.outpatient p {
    font-size: 16px;
    color: #666;
    line-height: 30px;
    letter-spacing: -1px;
}
.outpatient .container .nav-pills {
    margin-bottom: 60px;
}

/* correction */
.outpatient.correction .clinic {
    background-image: url(/images/outpatient/correction_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 95px;
}
.outpatient.correction .clinic .section-content {
    padding-top: 627px;
}


/* spine */
.outpatient.spine .spine-joint {
    background-image: url(/images/outpatient/spine_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.outpatient.spine .spine-joint .section-content {
    height: 790px;
    margin-top: 10px;
}
.outpatient.spine .spine-joint .section-content > div:nth-of-type(1) p {
    margin-top: 54px;
}
.outpatient.spine .spine-joint .section-content > div:nth-of-type(1) p:first-child {
    margin-top: 0;
}

.outpatient.spine .spine-joint .section-content > div:nth-of-type(2) p:nth-of-type(2) {
    margin-top: 10px;
}
.outpatient.spine .spine-joint .section-content > div:nth-of-type(2) p:last-child {
    margin-top: 98px;
}
.outpatient.spine .spine-clinic { 
    margin-top: 120px;
}
.outpatient.spine .spine-clinic .section-header h2 {
    margin-bottom: 0 !important;
}
.outpatient.spine .panel-group > .panel > .panel-collapse h5:nth-of-type(1) {
    margin-top: 40px;
}


/* joint */
.outpatient.joint section .panel-group {
    margin-top: 311px;
}
.outpatient.joint section .panel-group > .panel > .panel-collapse h5:nth-of-type(1) {
    margin-top: 40px;
}
.outpatient.joint .shoulder {
    background-image: url(/images/outpatient/joint_bg01.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
}
.outpatient.joint .elbow {
    background-image: url(/images/outpatient/joint_bg02.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
    margin-top: 120px;
}
.outpatient.joint .hand {
    background-image: url(/images/outpatient/joint_bg03.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
    margin-top: 120px;
}
.outpatient.joint .pelvis {
    background-image: url(/images/outpatient/joint_bg04.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
    margin-top: 120px;
}
.outpatient.joint .knee {
    background-image: url(/images/outpatient/joint_bg05.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
    margin-top: 120px;
}
.outpatient.joint .ankle {
    background-image: url(/images/outpatient/joint_bg06.jpg);
    background-repeat: no-repeat;
    background-position: 0 85px;
    margin-top: 120px;
}
.outpatient.joint .ankle .panel-group > .panel > .panel-collapse .panel-body dl {
    overflow: hidden;
    margin-top: 55px;
}
.outpatient.joint .ankle .panel-group > .panel > .panel-collapse .panel-body dl dt {
    float: left;
    display: inline-block;
    clear: both;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    line-height: 30px;
}
.outpatient.joint .ankle .panel-group > .panel > .panel-collapse .panel-body dl dd {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 30px;
    letter-spacing: -1px;
}
.outpatient.joint .ankle .panel-group > .panel > .panel-collapse .panel-body dl dd:before {
    content:":";
    padding:0 5px;
}


/* surgery */
.outpatient.surgery .clinic {
    min-height: 600px;
    background-image: url(/images/outpatient/surgery_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 208px;
}
.outpatient.surgery .clinic .section-content {
    margin-top: 20px;
}
.outpatient.surgery .clinic .section-content .arrow-list {
    margin-top: 400px;
}

/* muscle-pain */
.outpatient.muscle-pain .clinic {
    min-height: 600px;
    background-image: url(/images/outpatient/muscle_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 93px;
}
.outpatient.muscle-pain .clinic p { 
    margin-top: 390px;
}


/* digestion */
.outpatient.digestion .internal .section-content {
    overflow: hidden;
}
.outpatient.digestion .internal .section-content .arrow-list {
    margin: 20px 0;
}
.outpatient.digestion .internal .section-content .arrow-list .inline-dl dd:before {
    padding-right: 3px;
}
.outpatient.digestion .internal .section-content figure {
    float: left;
    margin-top: 10px;
}
.outpatient.digestion .internal .section-content figure:nth-of-type(2) {
    margin-left: 10px;
}
.outpatient.digestion .internal .section-content figure figcaption {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin: 20px 0 40px 0;
}
.outpatient.digestion .internal .section-content .stomach {
    float: left;
    margin-right: 30px;
}
.outpatient.digestion .internal .section-content .stomach h5 {
    font-size: 18px;
    color: #333;
    margin: 30px;
    text-align: center;
}
.outpatient.digestion .internal .section-content .large-intestine {
    float: left;
}
.outpatient.digestion .internal .section-content .large-intestine h5 {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}
.outpatient.digestion .endoscopy {
    margin-top: 120px;
}

/* adult-disease */
.outpatient.adult-disease .diabetes .arrow {
    background-image: url(/images/sub/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 0px 12px;
    font-size: 16px;
    color: #666;
    line-height: 30px;
    padding-left: 15px
}
.outpatient.adult-disease .diabetes .inline-dl .arrow {
    background-position: 0 10px; 
}
.outpatient.adult-disease .diabetes .table-wrap .table thead tr th {
    background-color: #4f4f4f !important;
    color: #fff !important;
    border-right: 1px solid #4f4f4f;
    border-left: 1px solid #4f4f4f;
}
.outpatient.adult-disease .diabetes .table-wrap .table tbody tr td {
    border-right: 1px solid #ccc;
}
.outpatient.adult-disease .diabetes .table-wrap .table tbody tr td:first-child {
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    color: #333;
}
.outpatient.adult-disease .diabetes-management {
    height: 1500px;
    background-image: url(/images/outpatient/disease_bg01.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.outpatient.adult-disease .complications {
    margin-top: 120px;
}
.outpatient.adult-disease .complications p:nth-of-type(2) {
    margin-top: 55px;
}
.outpatient.adult-disease .hypertension {
    margin-top: 120px;
}
.outpatient.adult-disease .hypertension > dl {
    margin-top: 20px;
}
.outpatient.adult-disease .hypertension > dl > dt {
    display:inline;
    color: #666;
    font-weight: 400;
    font-size: 15px;
}
.outpatient.adult-disease .hypertension {
    background-image: url(/images/outpatient/disease_bg02.jpg);
    background-repeat: no-repeat;
    background-position: 0 458px;
}
.outpatient.adult-disease .hypertension > dl > dd {
    color: #666;
    font-size: 15px;
    display: inline-block;
}
.outpatient.adult-disease .hypertension > dl > dt:before {
    content: "(";
}
.outpatient.adult-disease .hypertension > dl > dd:before {
    content: ":";
    padding:0 5px;
}
.outpatient.adult-disease .hypertension > dl > dd:after {
    content: ")";
}
.outpatient.adult-disease .hypertension > h3:nth-of-type(2) {
    margin-top: 510px;
}
.outpatient.adult-disease .hypertension .inline-dl dd:before {
    padding-right: 4px;
}

.outpatient.adult-disease .treatment {
    margin-top: 120px;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap {
    margin-top: 40px;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap .table {
    margin-bottom: 30px;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap .table thead tr th {
    background-color: #4f4f4f !important;
    color: #fff !important;
    border-right: 1px solid #4f4f4f;
    border-left: 1px solid #4f4f4f;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap .table tbody tr td {
    border-right: 1px solid #ccc;
    padding: 36px 0;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap .table tbody tr td:first-child {
    border-left: 1px solid #ccc;
}
.outpatient.adult-disease .treatment .arrow-list li .table-wrap > p {
    text-align: center;
    color: #666;
    font-size: 15px;
}
.outpatient.adult-disease .treatment .arrow-list li:nth-of-type(2) {
    margin-top: 40px;
}
.outpatient.adult-disease .hyperlipidemia {
    margin-top: 120px;
}
.outpatient.adult-disease .hyperlipidemia-therapy {
    height: 422px;
    background-image: url(/images/outpatient/disease_bg03.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin-top: 120px;
}
.outpatient.adult-disease .hyperlipidemia-therapy .arrow-list {
    width: 616px;
}


/* internal-secretion */
.outpatient.internal-secretion .thyroid {
    background-image: url(/images/outpatient/internal_secretion.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;

}
.outpatient.internal-secretion .thyroid > p {
    width: 570px;
}
.outpatient.internal-secretion .thyroid .arrow-list {
    width: 570px;
}
.outpatient.internal-secretion .thyroid .arrow-list:last-child {
    width: 100%;
}


/* checkup */
.outpatient.checkup .checkup-list {
    
}
.outpatient.checkup .checkup-list .attention {
    font-size: 15px;
    color: #999;
    text-align: left;
    padding-left: 15px;
}
.outpatient.checkup .checkup-list .attention:before {
    content: "※";
}
.outpatient.checkup .checkup-list .standard {
    text-align: left;
    padding-left: 15px;
    text-align: center;
}
.outpatient.checkup .checkup-list .standard:before {
    content: "*";
}
.outpatient.checkup .checkup-list .table-wrap .table thead tr th {
    background-color: #4f4f4f !important;
    color: #fff !important;
    border-right: 1px solid #4f4f4f;
    border-left: 1px solid #4f4f4f;
}
.outpatient.checkup .checkup-list .table-wrap .table tbody tr td {
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    line-height: 30px;
}
.outpatient.checkup .checkup-list .table-wrap .table tbody tr td:first-child {
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    color: #333;
}
.number-list > li {
    counter-increment:my-list-index; 
    font-size: 16px;
    color: #666;
    line-height: 30px;
}
.number-list > li:before {
    display:inline-block;
    content:counter(my-list-index)"."; 
    font-size:16px; 
    padding-right: 5px;
}
.number-list > li .inline-dl {
    display: inline;
}
.number-list > li .inline-dl > dt {
    font-weight: 400;
    color: #666;
}
.outpatient.checkup .checkup-list > .arrow-list {
    margin-bottom: 30px;
}
.outpatient.checkup .checkup-list > .btn-area {
    margin-top: 50px;
    text-align: center;
}
.outpatient.checkup .checkup-list > .btn-area > p > .btn-red {
    font-size: 18px;
    width: 220px;
    height: 50px;
    padding: 14px 0 14px 10px;
    color: #fff;
    background-color: #e9193a;
    background-image: url(/images/outpatient/arrow_white.png);
    background-repeat: no-repeat;
    background-position: 36px 17px;
}

/* vaccination */
.outpatient.vaccination .herpes-zoster {
    background-image: url(/images/outpatient/vaccination.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0; 
}
.outpatient.vaccination .herpes-zoster > p {
    width: 600px;
}
.outpatient.vaccination .herpes-zoster .inline-dl dt {
    font-size: 15px;
    color: #666;
    text-align: left;
    font-weight: 400;
}
.outpatient.vaccination .herpes-zoster .inline-dl dt:before {
    content: "※";
}
.outpatient.vaccination .herpes-zoster .inline-dl dd:before {
    padding:0 5px;
}
.outpatient.vaccination .herpes-zoster > p:nth-of-type(6) {
    width: 100%;
}
.outpatient.vaccination .pneumonia {
    margin-top: 120px;
}
.outpatient.vaccination .pneumonia .table-wrap {
    margin-top: 30px;
}
.outpatient.vaccination .pneumonia .table-wrap .table thead tr th {
    background-color: #4f4f4f !important;
    color: #fff !important;
    border-right: 1px solid #4f4f4f;
    border-left: 1px solid #4f4f4f;
}
.outpatient.vaccination .pneumonia .table-wrap .table tbody tr td {
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    line-height: 30px;
}
.outpatient.vaccination .pneumonia .table-wrap .table tbody tr td:first-child {
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    color: #333;
}
.outpatient.vaccination .pneumonia .table-wrap .table tbody tr td .attention {
    color: #333;
}
.outpatient.vaccination .pneumonia .table-wrap .table tbody tr td .attention:before {
    content: "※";
    color: #333;
}


/* oriental-medicine */
.outpatient.oriental-medicine .container {
    padding-top: 60px;
}
.outpatient.oriental-medicine .intro {
    background-image: url(/images/outpatient/oriental_medicine.jpg);
    background-repeat: no-repeat;
    background-position: 0 170px;
}
.outpatient.oriental-medicine .intro .panel-group {
    margin-top: 340px;
}
.outpatient.oriental-medicine .intro .panel-group .panel .panel-body {
    padding: 35px 20px;
}
.outpatient.oriental-medicine .intro .panel-group .panel .panel-heading {
    background-position: 20px 50%;
}
.outpatient.oriental-medicine .intro .panel-group .panel .panel-heading h4 {
   padding-left: 15px;
}


/* childbirth */
.outpatient.childbirth .clinic > .section-header > h2 {
    margin-bottom: 0 !important;
}
.outpatient.childbirth .clinic > .section-content {
    padding-top: 300px;
    margin-top: 40px;
    background-image: url(/images/outpatient/childbirth_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.outpatient.childbirth .clinic > .section-content > h4 {
    font-size: 18px;
    color: #333;
    margin: 40px 0 30px;
}
