/* news */
.community.news-list .news {padding-bottom:60px; }
.community.news-list .news .section-header .category {margin-top:25px !important; }
.community.news-list .news .btn-area {overflow:hidden; padding-top:30px; }
.community.news-list .news .btn-area p {float:right; display:inline-block; }
.community.news-list .news .btn-area p a {color:#fff; font-size:12px; text-decoration:none; width:70px; height:31px; display:inline-block; min-width:70px !important; }
.community.news-list .news .paging .pagination {margin-top:30px; }

/* news-view */
.community.news-view .view .section-header {padding:20px 0; border-bottom:2px solid #444; }
.community.news-view .view .section-content .view-header {border-bottom:1px solid #f3f3f3; padding-bottom:20px;  }
.community.news-view .view .section-content .view-header h4 {font-size:13px; color:#333; font-weight:400; }
.community.news-view .view .section-content .view-header dl {overflow:hidden; }
.community.news-view .view .section-content .view-header dl dt {position:relative; font-size:11px; color:#666; padding-right:10px; float:left; font-weight:normal; display:block; line-height:17px; }
.community.news-view .view .section-content .view-header dl dt:after {position:absolute; top:0; right:0; content:"|"; }
.community.news-view .view .section-content .view-header dl dd {font-size:11px; color:#666; padding-left:0; padding-left:48px; line-height:17px; }

.community.news-view .view .section-content .view-content {border-bottom:1px solid #f3f3f3; padding-bottom:20px; }
.community.news-view .view .section-content .view-content img {padding:20px 0; }
.community.news-view .view .section-content .view-content > p {padding-bottom:40px; color:#444; font-size:12px; line-height:21px; }
.community.news-view .view .section-content .view-content .file p { padding-left:15px;
	background-image:url("/mobile/images/community/file_bg.png");
	background-position:0 5px;
	background-repeat:no-repeat;
	background-size:7px auto;
	font-size:11px; 
	color:#999; 
}
.community.news-view .view .btn-area {overflow:hidden; padding:30px 0 60px 0; }
.community.news-view .view .btn-area p {float:right; }
.community.news-view .view .btn-area p a {min-width:70px !important; margin-left:10px !important; font-size:12px; }
.community.news-view .view .btn-area p a:first-child {min-width:70px !important; margin-left:0px !important; }


/* news-write */
.community.news-write .write .write-form {margin-top:20px; }
.community.news-write .write .write-form table {border-top:2px solid #444; width:100%; }
.community.news-write .write .write-form table tr {border-bottom:1px solid #f3f3f3; height:40px; }
.community.news-write .write .write-form table tr th {background-color:#f7f7f7; line-height:40px; width:30%; font-size:12px; color:#444; font-weight:normal; padding-left:10px; }
.community.news-write .write .write-form table tr th label {font-weight:normal; margin-bottom:0; }
.community.news-write .write .write-form table tr td {padding:6px 0 6px 10px; }
.community.news-write .write .write-form table tr td input {width:60%; border-radius:0; }
.community.news-write .write .write-form table tr td .form-control:hover {border-color:#e9193a; }
.community.news-write .write .write-form table tr td .form-control {border-color:#e6e6e6; }
.community.news-write .write .write-form table .subject td input {width:95%; border-radius:0; }
.community.news-write .write .write-form table .text-field td textarea {border-radius:0; height:130px; }
.community.news-write .write .write-form table .text-field td input {width:100px; height:35px;  }
.community.news-write .write .write-form table .file td {padding:0 0 0 10px; height:47px; }
.community.news-write .write .write-form table .file input {height:38px; width:100%; vertical-align:middle; }


.community.news-write .write .btn-area {overflow:hidden; padding:30px 0 60px 0; }
.community.news-write .write .btn-area p {float:right; }
.community.news-write .write .btn-area p a {min-width:70px !important; margin-left:10px !important; font-size:12px; }
.community.news-write .write .btn-area p a:first-child {min-width:70px !important; margin-left:0px !important; }


/* review */
.community.review .review-list {padding-bottom:60px; }
.community.review .review-list .section-header .tab-menu {margin-top:25px; }
.community.review .review-list .section-header .tab-menu ul {overflow:hidden; }
.community.review .review-list .section-header .tab-menu ul li {float:left; width:50%; height:44px; border:1px solid #dbdbdb; display:inline-block; text-align:center; line-height:44px; font-size:12px; color:#666; }
.community.review .review-list .section-header .tab-menu ul li a {width:100%; height:44px; display:inline-block; color:#666; text-decoration:none; }
.community.review .review-list .section-header .tab-menu ul li:nth-of-type(1) {border-right:0; }

.community.review .review-list .section-header .tab-menu ul .active {border:0; background-color:#444; width:50%; height:44px; }
.community.review .review-list .section-header .tab-menu ul .active a {color:#fff; }
.community.review .review-list .btn-area {overflow:hidden; padding-top:30px; }
.community.review .review-list .btn-area p {float:right; display:inline-block; }
.community.review .review-list .btn-area p a {color:#fff; font-size:12px; text-decoration:none; width:70px; height:31px; display:inline-block; min-width:70px !important;}
.community.review .review-list .paging .pagination {margin-top:30px; }


/* photo-list */
.community.photo-list .photo {padding-bottom:60px; }
.community.photo-list .photo .section-header {padding-top:20px; }
.community.photo-list .photo .section-content .photo-review {border-top:2px solid #444; margin:0; }
.community.photo-list .photo .section-content .photo-review li {color:#333; font-size:14px; border-bottom:1px solid #f3f3f3; margin-top:20px; }
.community.photo-list .photo .section-content .photo-review li figure figcaption {text-align:center; margin:20px 0; }
.community.photo-list .photo .section-content .photo-review li figure figcaption small {color:#666; font-size:11px; margin-top:20px; display:block; }
.community.photo-list .photo .btn-area {overflow:hidden; padding-top:30px; }
.community.photo-list .photo .btn-area p {float:right; display:inline-block; }
.community.photo-list .photo .btn-area p a {color:#fff; font-size:12px; text-decoration:none; width:70px; height:31px; display:inline-block; min-width:70px !important; }
.community.photo-list .photo .paging .pagination {margin-top:30px; }


/* health */
.community.health .health-info {padding-bottom:60px; }
.community.health .health-info .section-header {padding-top:20px; }
.community.health .health-info .btn-area {overflow:hidden; padding-top:30px; }
.community.health .health-info .btn-area p {float:right; display:inline-block; }
.community.health .health-info .btn-area p a {color:#fff; font-size:12px; text-decoration:none; width:70px; height:31px; display:inline-block; min-width:70px !important; }
.community.health .health-info .paging .pagination {margin-top:30px; }


/* recruit */
.community.recruit .recruit-info {padding-bottom:60px; }
.community.recruit .recruit-info .section-header {padding-top:20px; }
.community.recruit .recruit-info .section-content .board-list li span {color:#e9193a !important; }
.community.recruit .recruit-info .btn-area {overflow:hidden; padding-top:30px; }
.community.recruit .recruit-info .btn-area p {float:right; display:inline-block; }
.community.recruit .recruit-info .btn-area p a {color:#fff; font-size:12px; text-decoration:none; width:70px; height:31px; display:inline-block; min-width:70px !important; }
.community.recruit .recruit-info .paging .pagination {margin-top:30px; }

/* confirm-pw */
.community.confirm-pw .pw-check {
	padding:30px 0 60px 0;
	background-image:url('/mobile/images/community/community_bg.png');
	background-repeat:no-repeat;
	background-size:99px auto;
	background-position:20% 23%;
}
.community.confirm-pw .pw-check .section-header > h4 {
	background-image:url('/mobile/images/community/lock.png') !important;
	background-repeat:no-repeat;
	background-size:24px auto;
	background-position:50% 0;
	text-align:center;
	padding-top:48px !important;
	font-size:12px !important; 
	color:#666 !important;
	line-height:0 !important;
	margin-bottom:0;
	padding-bottom:0;
}
.community.confirm-pw .pw-check .section-content .pw-input .form-group {text-align:center;}
.community.confirm-pw .pw-check .section-content .pw-input .form-group input { 
	margin:10px 0 20px 0 !important;
	width:200px;
	height:28px;
	border-radius:0;
	display:inline;
	font-size:12px;
}
.community.confirm-pw .pw-check .section-content .pw-input .form-group input:hover{border-color:#e9193a;}
.community.confirm-pw .pw-check .section-content .pw-input .btn-area {
	text-align:center;
}
.community.confirm-pw .pw-check .section-content .pw-input .btn-area p .btn {
	min-width:70px !important; 
	height:31px !important;
}
.community.confirm-pw .pw-check .section-content .pw-input .btn-area p .btn-pink {margin-right:10px; }