.appoint-step1 .schedule header {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 35px; }
  .appoint-step1 .schedule header h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    line-height: 35px; }
  .appoint-step1 .schedule header a {
    position: absolute;
    top: 1px;
    padding: 11px 14px;
    width: 35px;
    height: 35px; }
    .appoint-step1 .schedule header a.prev {
      left: 0; }
    .appoint-step1 .schedule header a.next {
      right: 0; }
    .appoint-step1 .schedule header a img {
      display: block; }
.appoint-step1 .schedule .flags {
  margin-bottom: 10px;
  text-align: right; }
  .appoint-step1 .schedule .flags li {
    display: inline-block;
    padding-left: 12px;
    background-position: 0 50%;
    background-size: 7px 7px;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #444; }
    .appoint-step1 .schedule .flags li:nth-of-type(1) {
      background-image: url(/mobile/images/customer/ico_dot_green.png); }
    .appoint-step1 .schedule .flags li:nth-of-type(2) {
      margin-left: 20px;
      background-image: url(/mobile/images/customer/ico_dot_red.png); }
.appoint-step1 .schedule .calendar {
  margin-bottom: 15px;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #e5e5e5; }
  .appoint-step1 .schedule .calendar th, .appoint-step1 .schedule .calendar td {
    text-align: center;
    font-size: 11px;
    font-weight: 300; }
  .appoint-step1 .schedule .calendar thead th {
    height: 35px;
    color: #fff;
    background-color: #4f4f4f; }
    .appoint-step1 .schedule .calendar thead th:nth-of-type(1) {
      background-color: #e9193a; }
    .appoint-step1 .schedule .calendar thead th:nth-of-type(7) {
      background-color: #3270e3; }
  .appoint-step1 .schedule .calendar tbody td {
    position: relative;
    padding-bottom: 20px;
    height: 45px; }
    .appoint-step1 .schedule .calendar tbody td:nth-of-type(1) {
      color: #e9193a; }
    .appoint-step1 .schedule .calendar tbody td:nth-of-type(7) {
      color: #3270e3; }
    .appoint-step1 .schedule .calendar tbody td.past, .appoint-step1 .schedule .calendar tbody td.impossible {
      background-image: url(/mobile/images/customer/ico_dot_red.png);
      background-position: 50% 25px;
      background-size: 7px 7px;
      background-repeat: no-repeat; }
    .appoint-step1 .schedule .calendar tbody td.available {
      background-image: url(/mobile/images/customer/ico_dot_green.png);
      background-position: 50% 25px;
      background-size: 7px 7px;
      background-repeat: no-repeat; }
    .appoint-step1 .schedule .calendar tbody td .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      text-indent: -9999px;
      background-image: url(/mobile/images/customer/ico_check_circle.png);
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 50% 50%; }
  .appoint-step1 .schedule .calendar tbody tr:nth-of-type(2n) td {
    background-color: #f5f8fc; }
.appoint-step1 .schedule .notice {
  margin-bottom: 40px; }
  .appoint-step1 .schedule .notice li {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
    background-image: url(/mobile/images/customer/ico_caret_right.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size: auto 5px; }
.appoint-step1 .doctors .departs {
  margin-bottom: 30px; }
  .appoint-step1 .doctors .departs .form-control {
    border-radius: 0;
    font-size: 12px; }
    .appoint-step1 .doctors .departs .form-control:focus {
      border-color: #e9193a; }
.appoint-step1 .doctors .doctor-list {
  text-align: center; }
  .appoint-step1 .doctors .doctor-list li {
    margin-bottom: 25px; }
    .appoint-step1 .doctors .doctor-list li figure img {
      display: block;
      margin: 0 auto 10px;
      width: 110px;
      height: 110px; }
    .appoint-step1 .doctors .doctor-list li figure figcaption {
      text-align: center; }
      .appoint-step1 .doctors .doctor-list li figure figcaption strong {
        display: block;
        font-weight: 300; }
      .appoint-step1 .doctors .doctor-list li figure figcaption small {
        font-size: 11px;
        color: #666; }
    .appoint-step1 .doctors .doctor-list li .btn-group .btn {
      display: block;
      float: none;
      margin: 5px auto 0;
      padding-top: 0;
      padding-bottom: 0;
      min-width: auto;
      width: 60px;
      height: 25px;
      background-color: #fff;
      color: #666;
      border: 1px solid #ccc;
      font-size: 11px;
      line-height: 23px; }
      .appoint-step1 .doctors .doctor-list li .btn-group .btn input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none; }
      .appoint-step1 .doctors .doctor-list li .btn-group .btn.active {
        box-shadow: none;
        background-color: #e9193a;
        border-color: #e9193a;
        color: #fff; }
      .appoint-step1 .doctors .doctor-list li .btn-group .btn:active {
        box-shadow: none; }
.appoint-step1 .doctors .btn-area {
  margin-bottom: 60px; }
  .appoint-step1 .doctors .btn-area p {
    text-align: center; }
    .appoint-step1 .doctors .btn-area p .btn {
      margin: 0 5px;
      width: 130px;
      height: 35px;
      font-size: 12px;
      color: #fff; }
      .appoint-step1 .doctors .btn-area p .btn:before {
        display: inline-block;
        margin-top: -2px;
        content: '';
        margin-right: 3px;
        vertical-align: middle; }
      .appoint-step1 .doctors .btn-area p .btn.btn-cancel {
        background-color: #555; }
        .appoint-step1 .doctors .btn-area p .btn.btn-cancel:before {
          width: 7px;
          height: 7px;
          background-image: url(/mobile/images/customer/ico_cancel.png);
          background-repeat: no-repeat;
          background-size: auto 7px; }
      .appoint-step1 .doctors .btn-area p .btn.btn-appoint {
        background-color: #e9193a; }
        .appoint-step1 .doctors .btn-area p .btn.btn-appoint:before {
          width: 13px;
          height: 13px;
          background-image: url(/mobile/images/customer/ico_watch.png);
          background-repeat: no-repeat;
          background-size: auto 13px; }

/*# sourceMappingURL=customer_reserve.css.map */
