html {
    min-width: 320px;
}
body {
    min-width: 320px;
    background-color: #222327;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
address, p, dl {
    margin-bottom: 0;
}
.btn {
    min-width: 110px;
    height: 33px;
    font-size: 11px;
    border-radius: 0;
    line-height: 19px;
    &.btn-pink {
        background-color: #e9193a;
        color: #fff;
    }
    &.btn-gray {
        background-color: #555;
        color: #fff;
    }
    &.btn-line {
        background-color: #fff;
        border: 1px solid #444;
        color: #333;
    }
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    > .row {
        margin-left: -10px;
        margin-right: -10px;
    }
}

#wrapper {
    min-width: 320px;
}

#topnav {
    height: 30px;
    background-color: #363636;
    ul {
        overflow: hidden;
        li {
            float: left;
            width: 33.33%;
            border-left: 1px solid #565656;
            border-right: 1px solid #0b0b0b;
            a {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
                color: #fff;
                img {
                    margin-right: 3px;
                }
                
            }
            &:nth-of-child(1) {
                border-left: 0;
            }
            &:nth-of-child(2) {
            }
            &:nth-of-child(3) {
                border-right: 0;
            }
        }
    }
}

#header {
    position: relative;
    height: 47px;
    background-color: #fff;
    border-bottom: 2px solid #e9193a;
    h1 {
        margin: 0 auto;
        padding-top: 10px;
        width: 80px;
        img {
            display: block;
        }
    }
    .btn {
        position: absolute;
        top: 5px;
        padding: 0;
        width: 35px;
        min-width: auto;
        height: 35px;
        background-color: #fff;
    }
    .btn-home {
        left: 1px;
        color: #404040;
    }
    .btn-menu {
        right: 1px;
        padding: 11px 9px;
        .bar {
            display: block;
            margin-top: 3px;
            width: 100%;
            height: 2px;
            background-color: #393939;
            &:nth-of-type(1) {
                margin-top: 0;
            }
        }
    }
}

#content {
    min-height: 100px;
    background-color: #fff;
    .page-title {
        height: 70px;
        border-bottom: 1px solid #f3f3f3;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 20px;
            font-size: 16px;
            color: #333;
            text-align: center;
            line-height: 15px;
            small {
                font-size: 12px;
                color: #777;
            }
        }
    }
    .section-header {
        margin-bottom: 20px;
        h1, h2, h3, h4, h5, h6 {
            padding-top: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: #e9193a;
            line-height: 23px;
            background-image: url(/mobile/images/ico_section_header.png);
            background-size: 20px auto;
            background-repeat: no-repeat;
        }
    }
}

#footer {
    padding: 25px 10px 30px;
    font-size: 11px;
    .policy {
        margin-bottom: 20px;
        text-align: center;
        li {
            display: inline-block;
            a {
                color: #fff;
            }
            &:before {
                padding-left: 8px;
                padding-right: 10px;
                content: '|';
                color: #fff;
                font-size: 10px;
            }
            &:first-child:before {
                padding-left: 0;
                padding-right: 0;
                content: '';
            }
        }
    }
    .company {
        color: #999;
        text-align: center;
        line-height: 18px;
        address {
            line-height: 18px;
        }
        dl {
            dt, dd {
                display: inline-block;
            }
            dt {
                font-weight: 300;
                &:after {
                    padding-left: 5px;
                    padding-right: 2px;
                    content: ':';
                }
                &:nth-of-type(2n) {
                    &:before {
                        padding-left: 8px;
                        padding-right: 10px;
                        content: '|';
                        font-size: 10px;
                    }
                }
            }
            dd {
                &.br {
                    display: block;
                }
                a {
                    color: #999;
                }
            }
        }
    }
    .copyright {
        margin-bottom: 15px;
        p {
            line-height: 18px;
            color: #999;
            text-align: center;
            a {
                color: #999;
            }
        }
    }
    .sns {
        margin-bottom: 20px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .family {
        margin: 0 auto;
        width: 220px;
        height: 32px;
        background-color: #222327;
        .btn {
            width: 100%;
            height: 100%;
            font-size: 11px;
            text-align: left;
            border-radius: 0;
            background-color: #222327;
            border: 1px solid #7d7d7d;
            color: #999;
            .caret {
                float: right;
                margin-top: 5px;
            }
        }
        .dropdown-menu {
            bottom: 31px;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            border-radius: 0;
            background-color: #222327;
            border: 1px solid #7d7d7d;
            li {
                a {
                    height: 32px;
                    font-size: 11px;
                    color: #999;
                    line-height: 26px;
                }
            }
        }
    }
}