html {
    min-width: 320px;
}
body {
    min-width: 320px;
    background-color: #222327;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
address, p, dl {
    margin-bottom: 0;
}
.btn {
    min-width: 110px;
    height: 33px;
    font-size: 11px;
    border-radius: 0;
    line-height: 19px;
    &.btn-pink {
        background-color: #e9193a;
        color: #fff;
    }
    &.btn-gray {
        background-color: #555;
        color: #fff;
    }
    &.btn-line {
        background-color: #fff;
        border: 1px solid #444;
        color: #333;
    }
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    > .row {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.img-responsive {
    margin: 0 auto;
}
.form-group {
    margin-bottom: 0 !important;
}
.form-control {
    box-shadow: none !important;
}

#wrapper {
    min-width: 320px;
}

#topnav {
    height: 30px;
    background-color: #363636;
    ul {
        overflow: hidden;
        li {
            float: left;
            width: 33.33%;
            border-left: 1px solid #565656;
            border-right: 1px solid #0b0b0b;
            a {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
                color: #fff;
                img {
                    margin-right: 3px;
                }
                
            }
            &:nth-of-child(1) {
                border-left: 0;
            }
            &:nth-of-child(2) {
            }
            &:nth-of-child(3) {
                border-right: 0;
            }
        }
    }
}

#header {
    position: relative;
    height: 47px;
    background-color: #fff;
    border-bottom: 2px solid #e9193a;
    h1 {
        margin: 0 auto;
        padding-top: 10px;
        width: 80px;
        img {
            display: block;
        }
    }
    .btn {
        position: absolute;
        top: 5px;
        padding: 0;
        width: 35px;
        min-width: 35px;
        height: 35px;
        background-color: #fff;
    }
    .btn-home {
        left: 1px;
        color: #404040;
    }
    .btn-menu {
        right: 1px;
        padding: 11px 9px;
        .bar {
            display: block;
            margin-top: 3px;
            width: 100%;
            height: 2px;
            background-color: #393939;
            &:nth-of-type(1) {
                margin-top: 0;
            }
        }
    }
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .9);
    z-index: 900;
    .nav-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 901;
    }
    .nav-container {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 121px;
        width: 270px;
        height: 100%;
        background-color: #fff;
        transition: all .3s;
        z-index: 910;
        .btn-nav-close {
            position: absolute;
            top: 0;
            left: -50px;
            padding: 13px;
            min-width: 50px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            img {
                position: relative;
                height: 100%;
            }
        }
        .member {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50px;
            li {
                float: left;
                width: 50%;
                
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 12px;
                    line-height: 50px;
                    text-align: center;
                    color: #fff;
                    background-color: #363636;
                }
                &:nth-of-type(1) a {
                    border-right: 1px solid rgba(#0b0b0b, .6);
                }
                &:nth-of-type(2) a {
                    border-left: 1px solid rgba(#565656, .8);
                }
            }
        }
        .quick {
            position: absolute;
            top: 50px;
            width: 100%;
            height: 71px;
            border-bottom: 1px solid #eaeaea;
            li {
                float: left;
                width: 33.33%;
                height: 100%;
                a {
                    display: block;
                    padding-top: 40px;
                    width: 100%;
                    height: 100%;
                    font-size: 11px;
                    text-align: center;
                    color: #555;
                    background-size: auto 18px;
                    background-repeat: no-repeat;
                    background-position: 50% 18px;
                }
                &:nth-of-type(1) {
                    a {
                        background-image: url(/mobile/images/ico_pc_sm.png);
                    }
                }
                &:nth-of-type(2) {
                    a {
                        background-image: url(/mobile/images/ico_watch_sm.png);
                    }
                }
                &:nth-of-type(3) {
                    a {
                        background-image: url(/mobile/images/ico_mappin_sm.png);
                    }
                }
            }
        }
        .nav-content {
            overflow: scroll;
            height: 100%;
            .gnb {
                > li {
                    border-bottom: 1px solid #ededed;
                    > a {
                        display: block;
                        padding-left: 10px;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        font-weight: bold;
                        color: #333;
                        background-image: url(/mobile/images/ico_plus_circle.png);
                        background-size: 15px 15px;
                        background-repeat: no-repeat;
                        background-position: 240px 50%;
                    }
                    > ul {
                        display: none;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        > li {
                            > a {
                                display: block;
                                padding-left: 10px;
                                width: 100%;
                                height: 27px;
                                line-height: 27px;
                                color: #666;
                            }
                        }
                    }
                    &.active {
                        > a {
                            background-image: url(/mobile/images/ico_minus_circle.png);
                            background-color: #e9193a;
                            color: #fff;
                        }
                        > ul {
                            display: block;
                        }
                    }
                }
            }
            .contact {
                padding: 30px 10px;
                .btn-tel {
                    display: block;
                    width: 100%;
                    height: 40px;
                    background-color: #e9193a;
                    text-align: center;
                    color: #fff;
                    line-height: 40px;
                    .bar {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &.collapsed {
        right: -100%;
        .nav-container {
            right: -270px;
        }
    }
}

body.nav-opened {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#content {
    min-height: 100px;
    background-color: #fff;
    .page-title {
        height: 70px;
        border-bottom: 1px solid #f3f3f3;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 20px;
            font-size: 16px;
            color: #333;
            text-align: center;
            line-height: 15px;
            small {
                font-size: 12px;
                color: #777;
            }
        }
    }
    .section-header {
        margin-bottom: 20px;
        h1, h2, h3, h4, h5, h6 {
            padding-top: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: #e9193a;
            line-height: 23px;
            background-image: url(/mobile/images/ico_section_header.png);
            background-size: 20px auto;
            background-repeat: no-repeat;
        }
    }
    .paging {
        text-align: center;
        .pagination {
            li {
                a {
                    margin-left: 1px;
                    margin-right: 1px;
                    border: 0;
                    background-color: #f9f9f9;
                    color: #666;
                    &.first,
                    &.prev,
                    &.next,
                    &.last {
                        background-color: transparent;
                    }
                }
                &.active {
                    a {
                        background-color: #666;
                        color: #fff;
                    }
                }
            }
        }
    }
    .search-area {
        position: relative;
        padding-left: 71px;
        padding-right: 51px;
        height: 40px;
        border: 1px solid #ccc;
        .form-group {
            select {
                padding-left: 5px;
                padding-right: 5px;
            }
            .form-control {
                height: 38px;
                border: 0;
            }
            &:nth-of-type(1) {
                position: absolute;
                top: 0;
                left: 0;
                height: 38px;
                width: 70px;
                border-right: 1px solid #ccc;
            }
        }
        .btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 38px;
            min-width: auto;
            border-left: 1px solid #ccc;
            font-size: 14px;
            background-color: #f9f9f9;
        }
    }
    .category {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        li {
            display: inline-block;
            a {
                color: #666;
                line-height: 20px;
            }
            &:after {
                position: relative;
                top: -2px;
                padding-left: 10px;
                padding-right: 8px;
                content: '|';
                font-size: 10px;
                color: #999;
            }
            &:last-child:after {
                padding-left: 0;
                padding-right: 0;
                content: '';
            }
            &.active {
                a {
                    color: #e9193a;
                    font-weight: bold;
                }
            }
        }
    }
    .board-list {
        border-top: 2px solid #444;
        li {
            border-bottom: 1px solid #f3f3f3;
            a {
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                color: #333;
                .tag {
                    color: #555;
                    font-size: 13px;
                }
                p {
                    overflow: hidden;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                small {
                    color: #666;
                    font-size: 11px;
                }
            }
        }
    }
}

#footer {
    padding: 25px 10px 30px;
    font-size: 11px;
    .policy {
        margin-bottom: 20px;
        text-align: center;
        li {
            display: inline-block;
            a {
                color: #fff;
            }
            &:before {
                padding-left: 8px;
                padding-right: 10px;
                content: '|';
                color: #fff;
                font-size: 10px;
            }
            &:first-child:before {
                padding-left: 0;
                padding-right: 0;
                content: '';
            }
        }
    }
    .company {
        color: #999;
        text-align: center;
        line-height: 18px;
        address {
            line-height: 18px;
        }
        dl {
            dt, dd {
                display: inline-block;
            }
            dt {
                font-weight: 300;
                &:after {
                    padding-left: 5px;
                    padding-right: 2px;
                    content: ':';
                }
                &:nth-of-type(2n) {
                    &:before {
                        padding-left: 8px;
                        padding-right: 10px;
                        content: '|';
                        font-size: 10px;
                    }
                }
            }
            dd {
                &.br {
                    display: block;
                }
                a {
                    color: #999;
                }
            }
        }
    }
    .copyright {
        margin-bottom: 15px;
        p {
            line-height: 18px;
            color: #999;
            text-align: center;
            a {
                color: #999;
            }
        }
    }
    .sns {
        margin-bottom: 20px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .family {
        margin: 0 auto;
        width: 220px;
        height: 32px;
        background-color: #222327;
        .btn {
            width: 100%;
            height: 100%;
            font-size: 11px;
            text-align: left;
            border-radius: 0;
            background-color: #222327;
            border: 1px solid #7d7d7d;
            color: #999;
            .caret {
                float: right;
                margin-top: 5px;
            }
        }
        .dropdown-menu {
            bottom: 31px;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            border-radius: 0;
            background-color: #222327;
            border: 1px solid #7d7d7d;
            li {
                a {
                    height: 32px;
                    font-size: 11px;
                    color: #999;
                    line-height: 26px;
                }
            }
        }
    }
}

.under-construction {
    background-image: url(/mobile/images/bg_under.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    .container {
        padding-top: 150px;
        padding-bottom: 60px;
        background-image: url(/mobile/images/img_pad.jpg);
        background-repeat: no-repeat;
        background-size: 90px auto;
        background-position: 50% 45px;
        h1 {
            font-size: 28px;
            font-weight: 300;
            letter-spacing: -2px;
        }
        p {
            font-size: 13px;
            line-height: 15px;
        }
    }
}