html {
  min-width: 320px; }

body {
  min-width: 320px;
  background-color: #222327;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 12px; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

address, p, dl {
  margin-bottom: 0; }

.btn {
  min-width: 110px;
  height: 33px;
  font-size: 11px;
  border-radius: 0;
  line-height: 19px; }
  .btn.btn-pink {
    background-color: #e9193a;
    color: #fff; }
  .btn.btn-gray {
    background-color: #555;
    color: #fff; }
  .btn.btn-line {
    background-color: #fff;
    border: 1px solid #444;
    color: #333; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container > .row {
    margin-left: -10px;
    margin-right: -10px; }

.img-responsive {
  margin: 0 auto; }

.form-group {
  margin-bottom: 0 !important; }

.form-control {
  box-shadow: none !important; }

#wrapper {
  min-width: 320px; }

#topnav {
  height: 30px;
  background-color: #363636; }
  #topnav ul {
    overflow: hidden; }
    #topnav ul li {
      float: left;
      width: 33.33%;
      border-left: 1px solid #565656;
      border-right: 1px solid #0b0b0b; }
      #topnav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #fff; }
        #topnav ul li a img {
          margin-right: 3px; }
      #topnav ul li:nth-of-child(1) {
        border-left: 0; }
      #topnav ul li:nth-of-child(3) {
        border-right: 0; }

#header {
  position: relative;
  height: 47px;
  background-color: #fff;
  border-bottom: 2px solid #e9193a; }
  #header h1 {
    margin: 0 auto;
    padding-top: 10px;
    width: 80px; }
    #header h1 img {
      display: block; }
  #header .btn {
    position: absolute;
    top: 5px;
    padding: 0;
    width: 35px;
    min-width: 35px;
    height: 35px;
    background-color: #fff; }
  #header .btn-home {
    left: 1px;
    color: #404040; }
  #header .btn-menu {
    right: 1px;
    padding: 11px 9px; }
    #header .btn-menu .bar {
      display: block;
      margin-top: 3px;
      width: 100%;
      height: 2px;
      background-color: #393939; }
      #header .btn-menu .bar:nth-of-type(1) {
        margin-top: 0; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 900; }
  #nav .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901; }
  #nav .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 121px;
    width: 270px;
    height: 100%;
    background-color: #fff;
    transition: all .3s;
    z-index: 910; }
    #nav .nav-container .btn-nav-close {
      position: absolute;
      top: 0;
      left: -50px;
      padding: 13px;
      min-width: 50px;
      width: 50px;
      height: 50px;
      background-color: transparent; }
      #nav .nav-container .btn-nav-close img {
        position: relative;
        height: 100%; }
    #nav .nav-container .member {
      position: absolute;
      top: 0;
      width: 100%;
      height: 50px; }
      #nav .nav-container .member li {
        float: left;
        width: 50%; }
        #nav .nav-container .member li a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 12px;
          line-height: 50px;
          text-align: center;
          color: #fff;
          background-color: #363636; }
        #nav .nav-container .member li:nth-of-type(1) a {
          border-right: 1px solid rgba(11, 11, 11, 0.6); }
        #nav .nav-container .member li:nth-of-type(2) a {
          border-left: 1px solid rgba(86, 86, 86, 0.8); }
    #nav .nav-container .quick {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 71px;
      border-bottom: 1px solid #eaeaea; }
      #nav .nav-container .quick li {
        float: left;
        width: 33.33%;
        height: 100%; }
        #nav .nav-container .quick li a {
          display: block;
          padding-top: 40px;
          width: 100%;
          height: 100%;
          font-size: 11px;
          text-align: center;
          color: #555;
          background-size: auto 18px;
          background-repeat: no-repeat;
          background-position: 50% 18px; }
        #nav .nav-container .quick li:nth-of-type(1) a {
          background-image: url(/mobile/images/ico_pc_sm.png); }
        #nav .nav-container .quick li:nth-of-type(2) a {
          background-image: url(/mobile/images/ico_watch_sm.png); }
        #nav .nav-container .quick li:nth-of-type(3) a {
          background-image: url(/mobile/images/ico_mappin_sm.png); }
    #nav .nav-container .nav-content {
      overflow: scroll;
      height: 100%; }
      #nav .nav-container .nav-content .gnb > li {
        border-bottom: 1px solid #ededed; }
        #nav .nav-container .nav-content .gnb > li > a {
          display: block;
          padding-left: 10px;
          width: 100%;
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          color: #333;
          background-image: url(/mobile/images/ico_plus_circle.png);
          background-size: 15px 15px;
          background-repeat: no-repeat;
          background-position: 240px 50%; }
        #nav .nav-container .nav-content .gnb > li > ul {
          display: none;
          padding-top: 10px;
          padding-bottom: 10px; }
          #nav .nav-container .nav-content .gnb > li > ul > li > a {
            display: block;
            padding-left: 10px;
            width: 100%;
            height: 27px;
            line-height: 27px;
            color: #666; }
        #nav .nav-container .nav-content .gnb > li.active > a {
          background-image: url(/mobile/images/ico_minus_circle.png);
          background-color: #e9193a;
          color: #fff; }
        #nav .nav-container .nav-content .gnb > li.active > ul {
          display: block; }
      #nav .nav-container .nav-content .contact {
        padding: 30px 10px; }
        #nav .nav-container .nav-content .contact .btn-tel {
          display: block;
          width: 100%;
          height: 40px;
          background-color: #e9193a;
          text-align: center;
          color: #fff;
          line-height: 40px; }
          #nav .nav-container .nav-content .contact .btn-tel .bar {
            padding-left: 5px;
            padding-right: 5px; }
  #nav.collapsed {
    right: -100%; }
    #nav.collapsed .nav-container {
      right: -270px; }

body.nav-opened {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#content {
  min-height: 100px;
  background-color: #fff; }
  #content .page-title {
    height: 70px;
    border-bottom: 1px solid #f3f3f3; }
    #content .page-title h1, #content .page-title h2, #content .page-title h3, #content .page-title h4, #content .page-title h5, #content .page-title h6 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 20px;
      font-size: 16px;
      color: #333;
      text-align: center;
      line-height: 15px; }
      #content .page-title h1 small, #content .page-title h2 small, #content .page-title h3 small, #content .page-title h4 small, #content .page-title h5 small, #content .page-title h6 small {
        font-size: 12px;
        color: #777; }
  #content .section-header {
    margin-bottom: 20px; }
    #content .section-header h1, #content .section-header h2, #content .section-header h3, #content .section-header h4, #content .section-header h5, #content .section-header h6 {
      padding-top: 20px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: #e9193a;
      line-height: 23px;
      background-image: url(/mobile/images/ico_section_header.png);
      background-size: 20px auto;
      background-repeat: no-repeat; }
  #content .paging {
    text-align: center; }
    #content .paging .pagination li a {
      margin-left: 1px;
      margin-right: 1px;
      border: 0;
      background-color: #f9f9f9;
      color: #666; }
      #content .paging .pagination li a.first, #content .paging .pagination li a.prev, #content .paging .pagination li a.next, #content .paging .pagination li a.last {
        background-color: transparent; }
    #content .paging .pagination li.active a {
      background-color: #666;
      color: #fff; }
  #content .search-area {
    position: relative;
    padding-left: 71px;
    padding-right: 51px;
    height: 40px;
    border: 1px solid #ccc; }
    #content .search-area .form-group select {
      padding-left: 5px;
      padding-right: 5px; }
    #content .search-area .form-group .form-control {
      height: 38px;
      border: 0; }
    #content .search-area .form-group:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: 0;
      height: 38px;
      width: 70px;
      border-right: 1px solid #ccc; }
    #content .search-area .btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 38px;
      min-width: auto;
      border-left: 1px solid #ccc;
      font-size: 14px;
      background-color: #f9f9f9; }
  #content .category {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center; }
    #content .category li {
      display: inline-block; }
      #content .category li a {
        color: #666;
        line-height: 20px; }
      #content .category li:after {
        position: relative;
        top: -2px;
        padding-left: 10px;
        padding-right: 8px;
        content: '|';
        font-size: 10px;
        color: #999; }
      #content .category li:last-child:after {
        padding-left: 0;
        padding-right: 0;
        content: ''; }
      #content .category li.active a {
        color: #e9193a;
        font-weight: bold; }
  #content .board-list {
    border-top: 2px solid #444; }
    #content .board-list li {
      border-bottom: 1px solid #f3f3f3; }
      #content .board-list li a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #333; }
        #content .board-list li a .tag {
          color: #555;
          font-size: 13px; }
        #content .board-list li a p {
          overflow: hidden;
          margin-top: 5px;
          margin-bottom: 10px;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #content .board-list li a small {
          color: #666;
          font-size: 11px; }

#footer {
  padding: 25px 10px 30px;
  font-size: 11px; }
  #footer .policy {
    margin-bottom: 20px;
    text-align: center; }
    #footer .policy li {
      display: inline-block; }
      #footer .policy li a {
        color: #fff; }
      #footer .policy li:before {
        padding-left: 8px;
        padding-right: 10px;
        content: '|';
        color: #fff;
        font-size: 10px; }
      #footer .policy li:first-child:before {
        padding-left: 0;
        padding-right: 0;
        content: ''; }
  #footer .company {
    color: #999;
    text-align: center;
    line-height: 18px; }
    #footer .company address {
      line-height: 18px; }
    #footer .company dl dt, #footer .company dl dd {
      display: inline-block; }
    #footer .company dl dt {
      font-weight: 300; }
      #footer .company dl dt:after {
        padding-left: 5px;
        padding-right: 2px;
        content: ':'; }
      #footer .company dl dt:nth-of-type(2n):before {
        padding-left: 8px;
        padding-right: 10px;
        content: '|';
        font-size: 10px; }
    #footer .company dl dd.br {
      display: block; }
    #footer .company dl dd a {
      color: #999; }
  #footer .copyright {
    margin-bottom: 15px; }
    #footer .copyright p {
      line-height: 18px;
      color: #999;
      text-align: center; }
      #footer .copyright p a {
        color: #999; }
  #footer .sns {
    margin-bottom: 20px; }
    #footer .sns ul {
      text-align: center; }
      #footer .sns ul li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px; }
  #footer .family {
    margin: 0 auto;
    width: 220px;
    height: 32px;
    background-color: #222327; }
    #footer .family .btn {
      width: 100%;
      height: 100%;
      font-size: 11px;
      text-align: left;
      border-radius: 0;
      background-color: #222327;
      border: 1px solid #7d7d7d;
      color: #999; }
      #footer .family .btn .caret {
        float: right;
        margin-top: 5px; }
    #footer .family .dropdown-menu {
      bottom: 31px;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      border-radius: 0;
      background-color: #222327;
      border: 1px solid #7d7d7d; }
      #footer .family .dropdown-menu li a {
        height: 32px;
        font-size: 11px;
        color: #999;
        line-height: 26px; }

.under-construction {
  background-image: url(/mobile/images/bg_under.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }
  .under-construction .container {
    padding-top: 150px;
    padding-bottom: 60px;
    background-image: url(/mobile/images/img_pad.jpg);
    background-repeat: no-repeat;
    background-size: 90px auto;
    background-position: 50% 45px; }
    .under-construction .container h1 {
      font-size: 28px;
      font-weight: 300;
      letter-spacing: -2px; }
    .under-construction .container p {
      font-size: 13px;
      line-height: 15px; }

/*# sourceMappingURL=default.css.map */
