/* medical */
.outpatient.medical .medical-intro .section-header h3 {margin-top:20px !important; }
.outpatient.medical .medical-intro .section-content ol {overflow:hidden; width:100%; }
.outpatient.medical .medical-intro .section-content ol li {width:50%; text-align:center; /*height:170px;*/ display:inline-block; padding:0 23px 20px 23px; vertical-align:top; }
.outpatient.medical .medical-intro .section-content ol li p {margin-top:10px; }

.outpatient.medical .medical-intro .section-content ol li img {width:100px; height:100px;  }
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(1) {
	position:relative;
	padding-bottom:37px;
	float:left;
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(1):after {
	position:absolute; 
	top:33px;
	right:-9px;
	display:block;
	content:url("/mobile/images/outpatient/right_arrow.png");
	transform:scale(.4);
}

.outpatient.medical .medical-intro .section-content ol li:nth-of-type(2) {
	position:relative;
	float:right;
	
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(2):after {
	position:absolute; 
	bottom:-13px;
	display:inline-block;
	text-align:center;
	margin-left:-17px;
	content:url("/mobile/images/outpatient/bottom_arrow.png");
	transform:scale(.4);
}

.outpatient.medical .medical-intro .section-content ol li:nth-of-type(3) {
	padding-top:20px;
	position:relative;
	float:right; 
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(3):after {
	position:absolute;
	top:53px;
	left:-9px;
	display:block;
	content:url("/mobile/images/outpatient/left_arrow.png");
	transform:scale(.4);
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(4) {
	position:relative;
	float:left; 
	padding-top:20px;
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(4):after {
	position:absolute; 
	bottom:-13px;
	display:inline-block;
	text-align:center;
	margin-left:-17px;
	content:url("/mobile/images/outpatient/bottom_arrow.png");
	transform:scale(.4);
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(5) {
	position:relative;
	float:left; 
	padding-top:20px;
	padding-bottom:37px;
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(5):after {
	position:absolute; 
	top:53px;
	right:-9px;
	display:block;
	content:url("/mobile/images/outpatient/right_arrow.png");
	transform:scale(.4);
}
.outpatient.medical .medical-intro .section-content ol li:nth-of-type(6) {	
	float:right; 
	padding-top:20px;
}

.outpatient.medical .medical-intro .section-content h4 {font-size:13px; color:#333; line-height:21px; text-align:left; font-weight:300; margin-top:0; }
.outpatient.medical .medical-intro .section-content h4:nth-of-type(2) {margin:60px 0 30px 0; }
.outpatient.medical .medical-intro .section-content > p {position:relative; padding:0 10px 0 15px; font-size:12px; color:#333; font-size:12px; }
.outpatient.medical .medical-intro .section-content > p:nth-of-type(1) {margin-bottom:10px; }
.outpatient.medical .medical-intro .section-content > p:nth-of-type(3) {margin-bottom:10px; }
.outpatient.medical .medical-intro .section-content > p:before {position:absolute; top:0; left:0; content:"▶"; color:#e9193a; font-size:10px; }

/* medical */
.outpatient.medical .schedule .section-header {margin-top:60px; }
.outpatient.medical .schedule .section-header p {position:relative; padding-left:15px; font-size:12px; color:#666; margin:10px 0 0 0; }
.outpatient.medical .schedule .section-header p:before {position:absolute; top:0; left:0; content:"※"; }
.outpatient.medical .schedule .section-content {margin-top:30px; }
.outpatient.medical .schedule .section-content h4 {position:relative; padding-left:15px; font-size:12px; color:#333; margin:10px 0 11px 0; }
.outpatient.medical .schedule .section-content h4:before {position:absolute; top:0; left:0; content:"▶"; color:#e9193a; font-size:10px; }

/* table */
.outpatient.medical .schedule .section-content .table-wrap .table tr th { 
	font-size:12px;
	letter-spacing:-2px;
	border-right:1px solid #d7d7d7; 
	border-bottom:1px solid #d7d7d7; 
	background-color:#4f4f4f; 
	color:#fff;
	font-weight:300;
	text-align:center;
	vertical-align:middle;
}
.outpatient.medical .schedule .section-content .table-wrap .table tr td { 
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
	vertical-align:middle;
	height:41px;
}
/* morning */
.outpatient.medical .schedule .section-content .morning {margin-bottom:60px; }
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(2) td:nth-of-type(1) {background-color:#fef3f5;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(4) td:nth-of-type(1) {background-color:#fef3f5;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(5) td:nth-of-type(1) {background-color:#f9f9f9;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(1) td:nth-of-type(2) {background-color:#eee;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(2) td:nth-of-type(2) {background-color:#eee;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(3) td:nth-of-type(2) {background-color:#ddd;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr:nth-of-type(5) td:nth-of-type(2) {background-color:#ddd;}
.outpatient.medical .schedule .section-content .morning .table-wrap .table tr td:last-child {background-color:#fbdadf; }

/* afternoon */
.outpatient.medical .schedule .section-content .afternoon {margin-bottom:60px; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(1) td:nth-of-type(1) {background-color:#fef3f5; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(3) td:nth-of-type(1) {background-color:#fef3f5; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(5) td:nth-of-type(1) {background-color:#fef3f5; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(1) td:nth-of-type(4) {background-color:#f9f9f9; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(2) td:nth-of-type(1) {background-color:#f9f9f9; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(4) td:nth-of-type(1) {background-color:#f9f9f9; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(1) td:nth-of-type(2) {background-color:#ddd; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(4) td:nth-of-type(2) {background-color:#ddd; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(3) td:nth-of-type(2) {background-color:#eee; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(5) td:nth-of-type(2) {background-color:#eee; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(2) td:nth-of-type(3) {background-color:#fbdadf; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(3) td:nth-of-type(3) {background-color:#fbdadf; }
.outpatient.medical .schedule .section-content .afternoon .table-wrap .table tr:nth-of-type(4) td:nth-of-type(3) {background-color:#fbdadf; }
