/* sevice-terms */
.policy.sevice-terms .terms {
	height:634px;
	background-image:url("/mobile/images/policy/policy_bg.gif");
	background-size:cover;
	background-position:0 0;
	background-repeat:no-repeat;
	padding:40px 0 60px 0;  
}
.policy.sevice-terms .terms .container {background-color:#fff; margin:0 10px; padding-bottom:40px; }
.policy.sevice-terms .terms .container .section-header {padding:40px 0 20px 0; }
.policy.sevice-terms .terms .container .section-header h3 {text-align:center; color:#333 !important; background-position:50% 0;}
.policy.sevice-terms .terms .container .section-content {border:1px solid #f3f3f3; max-height:366px; overflow:scroll; padding:11px; }
.policy.sevice-terms .terms .container .section-content p {font-size:11px; color:#666; line-height:16px; }


/* privacy-statsment */
.policy.privacy-statsment .privacy {
	height:634px;
	background-image:url("/mobile/images/policy/policy_bg.gif");
	background-size:cover;
	background-position:0 0;
	background-repeat:no-repeat;
	padding:40px 0 60px 0;  
}
.policy.privacy-statsment .privacy .container {background-color:#fff; margin:0 10px; padding-bottom:40px; }
.policy.privacy-statsment .privacy .container .section-header {padding:40px 0 20px 0; }
.policy.privacy-statsment .privacy .container .section-header h3 {text-align:center; color:#333 !important; background-position:50% 0;}
.policy.privacy-statsment .privacy .container .section-content {border:1px solid #f3f3f3; max-height:366px; overflow:scroll; padding:11px; }
.policy.privacy-statsment .privacy .container .section-content p {font-size:11px; color:#666; line-height:16px; }
